<h2 align=center style="color:red;"> String Data Structure </h2>


- What is Data  Structure?
- String Data Structure
- Defining Strings in the Python
- Accessing characters  of  a  String (Indexing)
- Strings  are  immutable(Reassigning String)
- Strings  Slicing 
- String  Concatenation
- Create large Strings
- Operations on string Data structure
- Strings method
    - `lower()`, `upper()`, `strip()`, `startswith()`, `endswith()`, `split()`, `join()`, `find()`, `replace()`, `format()`, `len()`, `min()`, `max()`, `sorted()`, `title()/capitalize`, `swapcase()`, `count()`, `find()`, `index()`, `isalnum() / isalpha()`, `isdigit()`, 
- String  Deletion
- String Membership test

<img src="https://images.hive.blog/DQmNTh7iuqFfzQ438ZwLABkK4XtVGkMKrzUz4x6NY4kmQa9/data%20type1(1).jpg" height=600px width=600px>

### What is Data Structure?

- Data structure is a particular way of storing and organizing data in a computer so that it can be used efficiently. A data structure is a special format for organizing and storing data .

### String Data Structure


- Python string is the collection of the characters surrounded by single quotes, double quotes, or triple quotes. The computer does not understand the characters; internally, it stores manipulated character as the combination of the 0's and 1's.
- Each character is encoded in the ASCII or Unicode character. So we can say that Python strings are also called the collection of Unicode characters.
- In Python, strings can be created by enclosing the character or the sequence of characters in the quotes. Python allows us to use single quotes, double quotes, or triple quotes to create the string.

- Strings can contain letters, numbers, symbols, and even white spaces.

In [1]:
str1 = "Sawaira Iqbal 1262163 &&**(*@#$$%)"
print(type(str1))

<class 'str'>

In [2]:
str1 = "Sawaira"
str2 = 'Sawaira'
str3 = """Sawaira"""
print(type(str1))
print(type(str2))
print(type(str3))

<class 'str'>
<class 'str'>
<class 'str'>

In [17]:
str4 = 'A'
str5 = "B"
str6 = """C"""
print(type(str4))
print(type(str5))
print(type(str6))

<class 'str'>
<class 'str'>
<class 'str'>

In [18]:
string1 = 'Hello'
print(string1)

string2 = "World"
print(string2)

string3 = ""
print(string3)

string4 = "A"
print(string4)

Hello
World

A

In [19]:
# triple quotes string can extend multiple lines

string5 = """Hello, This is
            multi-line string"""
print(string5)

string5 = '''Hello, This is
            multi-line string'''
print(string5)

Hello, This is
            multi-line string
Hello, This is
            multi-line string

In [20]:
str6 = "I'm student of software engineering!"
print(str6)
str7 = 'I"m student'
print(str7)
str8 = 'i"m a student'
print(str8)
str8 = """ To display the current time, we have used the getTime()
method of Calendar class. The getTime() is an instance method of Calendar class,
so we have called it after getting the instance of
Calendar class by the getInstance() method """
print(str8)

I'm student of software engineering!
I"m student
i"m a student
 To display the current time, we have used the getTime()
method of Calendar class. The getTime() is an instance method of Calendar class,
so we have called it after getting the instance of
Calendar class by the getInstance() method

In [21]:
# Be careful with quotes!
'I'm using single quotes, but will create an error'

SyntaxError: invalid syntax (2198476966.py, line 2)

In [22]:
# Be careful with quotes!
"I'm using single quotes, but will create an error"

"I'm using single quotes, but will create an error"

The reason for the error above is because the single quote in I'm stopped the string. You can use combinations of double and single quotes to get the complete statement.

<h2 align=center style="color:red;"> Indexing (access strings) </h2>

### Accessing Characters of a String (Indexing)
Like other languages, the indexing of the Python strings starts from 0. Since string is of type sequence, and any component within a sequence can be accessed by entrying an index within square brackets. So naturally this work for strings as well List.
For example, The string "HELLO" is indexed as given in the below figure.
![](images/2.png)


As shown in Python, the slice operator [] is used to access the individual characters of the string. However, we can use the : (colon) operator in Python to access the substring from the given string. Consider the following example.
### Syntax:    
**str[start:end-1]**

<img src="https://geekflare.com/wp-content/uploads/2022/04/python-strings-684x385.png" height=500px width=400px>

In [23]:
string = "HELLO"  
print(len(string))

5

In [24]:
print(string[0])  
print(string[1])  
print(string[2])  
print(string[3])  
print(string[4])

H
E
L
L
O

In [25]:
# It returns the IndexError because 6th index doesn't exist  
print(string[6])
# 1-4

IndexError: string index out of range

![](images/3.png)
Here, we must notice that the upper range given in the slice operator is always exclusive i.e., if str = 'HELLO' is given, then str[1:3] will always include str[1] = 'E', str[2] = 'L' and nothing else.

In [3]:
string2 = "Sawaira Iqbal"  
print(len(string2))

13

In [4]:
# Start Oth index to end  
print(string2[0:])  

# Starts 1th index to 4th index  
print(string2[1:5])  

# Starts 2nd index to 3rd index  
print(string2[2:4])  

# Starts 0th to 2nd index  
print(string2[:3])  

#Starts 4th to 6th index  
print(string2[4:7])

Sawaira Iqbal
awai
wa
Saw
ira

<h2 align=center style="color:red;"> Negative slicing </h2>

We can do the negative slicing in the string; it starts from the rightmost character, which is indicated as -1. The second rightmost index indicates -2, and so on.
![](images/4.png)

In [1]:
string3 = 'Sawaira Iqbal'  
print(len(string3))
print(string3[-1])  
print(string3[-3])  
print(string3[-2:])  
print(string3[-4:-1])  
print(string3[-7:-2])  

# Reversing the given string  
print(string3[::-1])

13
l
b
al
qba
a Iqb
labqI ariawaS

In [31]:
print(string3[-12])

IndexError: string index out of range

<h2 align=center style="color:red;"> Strings are immutable </h2>

###  Strings are immutable/ Reassigning Strings
Updating the content of the strings is as easy as assigning it to a new string. The string object doesn't support item assignment i.e., A string can only be replaced with new string since its content cannot be partially replaced. Strings are immutable in Python.

In [4]:
#assigning a new value is valid
str1= 'html'
print(id(str1))
str1 = 'python'

print(id(str1))
print(str1)

2038621631152
2038623545584
python

- The object `html` is now orphan, since there is no variable referring to it now and will be collected by Python garbage collector.

###  String Slicing
- Slicing is the process of obtaining a portion (substring) of a string by using its indices.
- Given a string, we can use the following syntax to slice it and obtain a substring:
```
string[start:end]
```
- **start** is the index from where we want the substring to start. If start is not provided, slicing starts from the beginning.
- **end** is the index where we want our substring to end (not inclusive in the substring). If end is not provided, slicing goes till the end of the string (includes the last character of the string).

In [ ]:
# var[:] -> Full string return
# var[0:]-> Full string return
# var[:len(string)] -> Full string return 
# var[::-1] -> Full reverse string return

In [34]:
str1 = 'Introduction to data analyst and data science for beginners'
print(len(str1))

59

In [35]:
print(str1[0:4]) # From the start till before the 4th index

Intr

In [36]:
print(str1[:4]) # From the start till before the 4th index

Intr

In [37]:
print(str1[11:16])

n to

In [38]:
print(str1[19:]) # From the 19th index till the end
print(str1[5:-4])

a analyst and data science for beginners
duction to data analyst and data science for begin

In [39]:
#if start is greater than end, it will return empty string
print(str1[5:2])

print(str1[19:len(str1)]) # From the 19th index till the end

a analyst and data science for beginners

In [2]:
str1 = 'Introductiontodatasciencewithusingpython'
print(len(str1))

40

In [4]:
print(str1[::])  # A default step of 1

Introductiontodatasciencewithusingpython

In [5]:
print(str1[::1])  # A step of 1

Introductiontodatasciencewithusingpython

In [6]:
print(str1[::-1])  # A step of

nohtypgnisuhtiwecneicsatadotnoitcudortnI

In [7]:
print(str1)
print(str1[::2])  # A step of 2

Introductiontodatasciencewithusingpython
Itoutotdtsineihsnpto

## **Reverse Slicing**

- Strings can also be sliced to return a reversed substring. 
- For reverse slicing we need to give a negative step
- For reverse slicing the `start` index must be greater than the `end` index, otherwise an empty string will be returned

In [8]:
str1 = '0123456789'
print(str1[::-1])

9876543210

In [9]:
print(str1[5:1:-1])

5432

In [6]:
print(str1[::-2])

nhy

<img src="https://miro.medium.com/v2/resize:fit:720/format:webp/1*saSNHPFIa1YtVGA1yCERvQ.png" height=800px width=800px>

<h1 align=center style="color:red;"> Strings concatination </h1>

### String Concatenation
- Two strings can be joined or concatenated using the `+` operator

In [15]:
str1 = 'Hello'
str2 =' World!'
str3 = str1 + str2

In [19]:
print('str1 + str2 = ', str3)

str1 + str2 =  Hello World!

In [20]:
print("Y" + str3[1:])

Yello World!

In [10]:
a = input('enter your 1st name: ')
b = input('enter last name: ')
print('Hy! '+ a + " "+ b)

enter your 1st name: Sawaira
enter last name: Iqbal
Hy! Sawaira Iqbal

<h2 align=center style="color:red;"> creating large strings </h2>

### Creating large strings
- A string can be replicated/repeated using the `*` operator

In [21]:
str1 = 'Hello'
print('str1 * 5 =', str1 * 5)

str1 * 5 = HelloHelloHelloHelloHello

In [11]:
str2 = "Pakistan"
print(str2*10)

PakistanPakistanPakistanPakistanPakistanPakistanPakistanPakistanPakistanPakistan

In [13]:
buffer = 'A' * 100
print(buffer)

AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA

<h1 align=center style="color:red;"> Operations on string </h1>

###  Operations on String Data Structure 


|Operator|Description|
|--------|-----------|
|+|It is known as concatenation operator used to join the strings given either side of the operator. |
|*|It is known as repetition operator. It concatenates the multiple copies of the same string. |
|[]|It is known as slice operator. It is used to access the sub-strings of a particular string. |
|[:]|It is known as range slice operator. It is used to access the characters from the specified range. |
|in|It is known as membership operator. It returns if a particular sub-string is present in the specified string. |
|not in |It is also a membership operator and does the exact reverse of in. It returns true if a particular substring is not present in the specified string. |

<h1 align=center style="color:red;"> Membership </h1>

### String Membership test using `in` operator

In [27]:
'a' in 'DataScience'

True

In [28]:
'thf' not in 'python'

True

In [29]:
'aa' in 'DataScience'

False

<h1 align=center style="color:red;"> Deletion</h1>

### String Deletion
As we know that strings are immutable. We cannot delete or remove the characters from the string.  But we can delete the entire string using the `del` keyword.

In [30]:
string5 = "Data"
print(string5)

Data

In [31]:
del string5

In [32]:
print(string5)

NameError: name 'string5' is not defined

<h1 align=center style="color:red;"> Comparison </h1>

###  Comparing two strings using `is` operator and `==` operator

In [33]:
x = 10
y = 10
print(id(x), id(y))

9793376 9793376

In [34]:
x == y

True

In [35]:
x is y

True

In [36]:
a = 21
b = 20
print(id(a))
print(id(b))

9793728
9793696

In [37]:
a == b

False

In [38]:
a is b

False

In [39]:
# Let us check out the IDs of the following two variables. Like numbers type of variable, 
# they are same as both a and b refers to the same memory location containing same string 'hello'
a = 'hello'
b = 'hello'
print(id(a), id(b))

140698320454960 140698320454960

In [41]:
# in case of strings, both a and b refers to the same memory location containing string 'hello'
a = 'hello'
b = 'hello'

# The `is` operator returns True if the memory addresses of two strings / variables are same
print (a is b) 
# The `==` operator checks the contents of two strings
print (a == b)

True
True

In [43]:
print(a is not b)
print (a != b)

False
False

In [44]:
# both x and y refers to two different memory locations containing string 'hello'
x = 'hello'
y = 'bye'

# The `is` operator checks the memory address of two strings 
print (x is y) 
# The `==` operator checks the contents of two strings
print (x == y) 


print(x is not y)
print (x != y)

False
False
True
True

<h1 align=center style="color:red;"> String Methods</h1>

###  String Methods

- Now the most important part of a string is string functions which you used everywhere whenever you built any project. Now we will study all-important string functions which are frequently used.
- These are functions that you get on all other iterator data types like list, tuple, set, and also available in string.

####  The `len()`, `str.lower()`, `str.upper()` and `str.capitalize()` methods
- The `len()` is a built-in function that returns the number of items of a container data type passed as argument. We can check the length of any data types that are collections with built-in `len()` function.
It is considered a built-in function.
- The `str.lower()` method return a copy of the string converted to lowercase.
- The `str.upper()` method return a copy of the string converted to uppercase.
- The `str.capitalize()` method return a capitalized version of the string.

In [47]:
help(len)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

In [49]:
str1 = "Hello World"

In [50]:
print(str1.upper())

HELLO WORLD

In [51]:
print(type(str1))

<class 'str'>

In [52]:
str1

'Hello World'

In [55]:
str1= "Hello World"

mylist = [1,2,3,4,5]


print(len(str1),len(mylist))

11 5

### Hints
- To know what all methods the object of string class support. Just type the name of the object, place a dot and then press <tab> to view the list of its attributes and methods it support. 
`str.<tab>`
- Similarly to get help about a method, after the method name press <shift+tab>, to get information about what the method do, what parameters it take, its return value
`str.lower<shift+tab>`

In [16]:
string6 = "Data Science"
string6

'Data Science'

In [17]:
string7 = "introduction to Data science using python"
print('Orignial string = ', string7)

rv = len(string7)
print('len(string7) = ', rv)

Orignial string =  introduction to Data science using python
len(string7) =  41

In [57]:
rv1 = string7.lower()
print('string7.lower() = ', rv1)
      
print('string7.upper() = ', string7.upper())

string7.lower() =  introduction to data science using python
string7.upper() =  INTRODUCTION TO DATA SCIENCE USING PYTHON

In [58]:
string7

'introduction to Data science using python'

In [59]:
rv2 = string7.capitalize()

print('string7.capitalize() = ', rv2)
print('Orignial string = ', string7)
print("strinh7.title =", string7.title())

string7.capitalize() =  Introduction to data science using python
Orignial string =  introduction to Data science using python
strinh7.title = Introduction To Data Science Using Python

###  The `str.strip()` method
- The `str.strip()` method removes whitespace characters from the beginning and end of a string.
- The `str.lstrip()` method removes whitespace characters from the beginning of a string.
- The `str.rstrip()` method removes whitespace characters from the end of a string.

In [18]:
a ="    hello world, this is       Sawaira Iqbal     "
x = a.strip()
print(a)
print(x)

    hello world, this is       Sawaira Iqbal
hello world, this is       Sawaira Iqbal

In [19]:
print(a)
print(a.lstrip())
print(a.rstrip())

    hello world, this is       Sawaira Iqbal
hello world, this is       Sawaira Iqbal
    hello world, this is       Sawaira Iqbal

#  The `str.startswith()` method
The `str.startswith()` method return True if str starts with the specified prefix, False otherwise.
```
str.startswith(prefix[, start[, end]])
```

In [20]:
string8 = "Learning python for Data Science with Sawaira Iqbal"

rv3 = string8.startswith('Learning')
print(rv3)

True

In [21]:
rv4 = string8.startswith('Ali')
print(rv4)

False

In [22]:
rv5 = string8.startswith('Sawaira', 21)
print(rv5)

False

In [25]:
# # case sensitive
rv6 = string8.startswith('learning')
print(rv6)

False

In [26]:

rv6 = string8.startswith('in', 2, 11)  # character at ending index is not included
print(rv6)

False

# The `str.endsswith()` method
The `str.startswith()` method return True if str ends with the specified prefix, False otherwise.

In [28]:
s = "Iqbal"
print(s.startswith("I"))
print(s.endswith("b"))

True
False

# The `str.split()` and `str.join()` method
- The `str.split()` method splits a string into a list of strings at every occurrence of space character by default. You may pass a parameter `sep='i'` to split method to split at that specific character instead.
- The `sep.join(list)` method is passed a list/iterable as parameter and is called on a separater character. It joins the strings inside the list to a single string and returns

In [68]:
str1="DS"
print(str1)
help(str1.split)

DS
Help on built-in function split:

split(sep=None, maxsplit=-1) method of builtins.str instance
    Return a list of the words in the string, using sep as the delimiter string.

    sep
      The delimiter according which to split the string.
      None (the default value) means split according to any whitespace,
      and discard empty strings from the result.
    maxsplit
      Maximum number of splits to do.
      -1 (the default value) means no limit.

In [29]:
str1 =  "Learning python for Data Science with Sawaira Iqbal"
print(len(str1))
rv = str1.split()
print(rv)

51
['Learning', 'python', 'for', 'Data', 'Science', 'with', 'Sawaira', 'Iqbal']

In [30]:
print(len(rv))
print(type(rv))

8
<class 'list'>

In [31]:
str1 =  "Learning python for Data Science with Sawaira Iqbal"
rv = str1.split(sep='i')

In [32]:
print(rv)
print(type(rv))

['Learn', 'ng python for Data Sc', 'ence w', 'th Sawa', 'ra Iqbal']
<class 'list'>

In [74]:
str1="DS"
help(str1.join)

Help on built-in function join:

join(iterable, /) method of builtins.str instance
    Concatenate any number of strings.

    The string whose method is called is inserted in between each given string.
    The result is returned as a new string.

    Example: '.'.join(['ab', 'pq', 'rs']) -> 'ab.pq.rs'

In [33]:
mystr = "L e a r n i n g"
mystr.split(" ")

['L', 'e', 'a', 'r', 'n', 'i', 'n', 'g']

In [34]:
# The join() method takes all items in an iterable and joins them into one string.
mylist = ['Learning', 'Python', 'for', 'Data', 'Science', 'with', 'Sawaira', 'Iqbal']

#Note the separator is space character
mystr = ' '.join(mylist)

In [35]:
print(mylist, type(mylist))
print(mystr, type(mystr))

['Learning', 'Python', 'for', 'Data', 'Science', 'with', 'Sawaira', 'Iqbal'] <class 'list'>
Learning Python for Data Science with Sawaira Iqbal <class 'str'>

In [36]:
# You can call join() method on a separator or your choice
mylist = ['Sawaira', 'Ali', 'Ayesha', 'Dua', 'Adeen', 'Khubaib', str(21), str(18)]

#Note the separator is hash character
mystr = ' '.join(mylist)

In [37]:
print(mylist, type(mylist))
print(mystr, type(mystr))

['Sawaira', 'Ali', 'Ayesha', 'Dua', 'Adeen', 'Khubaib', '21', '18'] <class 'list'>
Sawaira Ali Ayesha Dua Adeen Khubaib 21 18 <class 'str'>

In [38]:
mystr

'Sawaira Ali Ayesha Dua Adeen Khubaib 21 18'

#  The `str.find()` method
- The `str.find()` method is used to find a substring from within a string, which returns the first index at which a substring occurs in a string. If no instance of the substring is found, the method returns -1.
```
str.find(substring, start, end)
```
where 
    - `substring` is what we are searching for,
    - `start` is the index from where we want to start searching (default value is 0)
    - `end` is the index where we want to stop our search (default value is len(str) -1)

In [40]:
str1 =  "LearningPythonForDataSciencewithSawairaIqbal"
print(len(str1))
print(str1.find('Data'))

44
17

In [41]:
print(str1.find('S',2)) # second argument starts searching from that index
print(str1.find('s',30)) # case sensitive

21
-1

In [42]:
print(str1.find('S',0, 4)) # third argument stops searching uptill that index
print(str1.find('S',0, 5))

-1
-1

In [43]:
print(str1.find('S',21, 23))

21

# Use `str.replace()` method to find a substring
- The `str.replace()` method returns a string after replacing all occurrences of `substring_to_be_replaced` with `new_string`.
```
str.replace(substring_to_be_replaced, new_string, count = -1)
```
- Note that `replace` returns a new string, and the original string is not modified.

In [95]:
str1="DS"
help(str1.replace)

Help on built-in function replace:

replace(old, new, count=-1, /) method of builtins.str instance
    Return a copy with all occurrences of substring old replaced by new.

      count
        Maximum number of occurrences to replace.
        -1 (the default value) means replace all occurrences.

    If the optional argument count is given, only the first count occurrences are
    replaced.

In [44]:
a = "hello"
print(a.replace("e","a"))
print(a)

hallo
hello

In [45]:
str1 =  "Learning Python for Data Science with Me"
newstring = str1.replace('Data Science', 'Life')
print(str1)
print(newstring)

Learning Python for Data Science with Me
Learning Python for Life with Me

# The `str.format()` method

- The `str.format()` method combines values of other data types, e.g., integers, floats, booleans, lists, etc. with strings. 
- You can use `str.format()` to construct output messages for display in the Python built-in `print()` function.
- You put placeholders `{}` within the format string of `print()` function, and the arguments to the `str.format()` method are the variable names
- The values of the variables are replaced with the arguments provided to the `str.format()` method.

In [46]:
age = 22
name = "Sawaira Iqbal"

print("Mr. {}, you are {} years old." .format(name, age))

Mr. Sawaira Iqbal, you are 22 years old.

In [47]:
name = "Ali Husnain"
cost = 100
discount = .2
bill = cost - cost * discount

print("Mr. {2}, your total cost is {1}, percentage discount is {3}, and bill is {0}" 
      . format(bill, cost, name, discount))

Mr. Ali Husnain, your total cost is 100, percentage discount is 0.2, and bill is 80.0

In [48]:
name="Ali Sadiq"
cost = 100
discount = .2
bill = cost - cost * discount

print(f"Mr. {name}, your total cost is {cost}, percentage discount is {discount}, and bill is {bill}" 
      . format(bill, cost, name, discount))

Mr. Ali Sadiq, your total cost is 100, percentage discount is 0.2, and bill is 80.0

In [49]:
name = "Sawaira"
age = 22
print(f"My name is {name} and my age is {age}")

My name is Sawaira and my age is 22

## Check your Concepts

Try answering the following questions to test your understanding of the topics covered in this notebook:

1. What are the container types available in Python?
2. What kind of data does the String data type represent?
3. What are the different ways of creating strings in Python?
4. What is the difference between strings created using single quotes, i.e. `'` and `'` vs. those created using double quotes, i.e. `"` and `"`?
5. How do you create multi-line strings in Python?
6. What is the newline character, `\n`?
7. What are escaped characters? How are they useful?
8. How do you check the length of a string?
9. How do you convert a string into a list of characters?
10. How do you access a specific character from a string?
11. How do you access a range of characters from a string?
12. How do you check if a specific character occurs in a string?
13. How do you check if a smaller string occurs within a bigger string?
14. How do you join two or more strings?
15. What are "methods" in Python? How are they different from functions?
16. What do the `.count`, `.isalnum` and `.isalpha` methods on strings do?
17. How do you replace a specific part of a string with something else?
18. How do you split the string "Sun,Mon,Tue,Wed,Thu,Fri,Sat" into a list of days?
19. How do you remove whitespace from the beginning and end of a string?
20. What is the string `.format` method used for? Can you give an example?
21. What are the benefits of using the `.format` method instead of string concatenation?
22. How do you convert a value of another type to a string?
23. How do you check if two strings have the same value?
24. Where can you find the list of all the methods supported by strings?