<h1 align="center" style="color:red" >Python-Tuples </h1>


#### [Click me to learn more about Python Tuples](https://docs.python.org/3/tutorial/datastructures.html#tuples-and-sequences)

In [ ]:
# ## List Data Structure vs Tuple Structure

# 1. Mutable vs Immutable 
# 2. Heter-types support
# 3. [] vs ()
# 4. Iterable (looping)
# 5. Duplicates 
# 6. Indexing(Positive[0,N-1] vs Negative[-1,-N])
# 7. +, *
# 8. Append, extend, insert, pop, remove

In [1]:
# lists are mutable where as tuples are immutable lists.

> **A Tuple is a numerically ordered sequence of elements that can store elements of heterogeneous types, is iterable, immutable and allows duplicate elements.**

- Like Lists, a Tuple in Python is also an ordered collection of values.
- Like Lists, a Tuple is created by placing comma separated values, but in parenthesis rather square brackets. 
- Like List, a Tuple also allows us to store elements of different data types in one container.
- Unlike List, it is not possible to add, remove, or modify values in a Tuple, so you can think of tuples as immutable Lists.
- Apart from this, every operation that we can perform on Lists that do not modify them, can be performed on Tuples as well.
- To be honest, Tuples are not used as often as Lists in programming, but are used when immutability is necessary.
- When to prefer Tuples over Lists?
    - While passing an object to a function, if you want to make sure that the object does not get changed, then Tuple become your solution. So Tuples provides a convenient source of data integrity.
    - Similarly, since functions can return only one value, if you want a function to return more than one value, you pack your result in a tuple and return it
    - Manipulating elements of a Tuple is far more efficient than manipulating elements of a List.
    - Tuples being immutable are used in Dictionaries as keys (which are immutable).

## Learning agenda of this notebook
1. How to create Tuples?
2. Proof of concepts: Tuples are heterogeneous, ordered, nested, immutable, and allow duplicate elements
3. Different ways to access elements of a Tuple?
4. Slicing a Tuple
5. Tuple concatenation and repetition
6. Being immutable, you cannot add elements to a Tuple
7. Being immutable, you cannot remove elemenst from a Tuple
8. Converting string object to Tuple and vice-versa (using type casting, `split()` and `join()`)
9. Tuple methods
10. Sorting a Tuple using built-in `sorted()` function

In [2]:
help(tuple)

Help on class tuple in module builtins:

class tuple(object)
 |  tuple(iterable=(), /)
 |
 |  Built-in immutable sequence.
 |
 |  If no argument is given, the constructor returns an empty tuple.
 |  If iterable is specified the tuple is initialized from iterable's items.
 |
 |  If the argument is a tuple, the return value is the same object.
 |
 |  Built-in subclasses:
 |      asyncgen_hooks
 |      UnraisableHookArgs
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __getnewargs__(self, /)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

## 1. How to create Tuples?
- A Tuple is created by placing comma separated values in parenthesis (or without prenthesis as well)

In [3]:
t1 = (1, 2, 3, 4, 5)   #tuple of integers
t1 = 1, 2, 3, 4, 5
print("t1: ", t1)

t2 = (2.3, 5.6, 1.8)  #tuple of floats
print("t2: ", t2)

t3 = ('hello', 'this', 'F', 'good show') #tuple of strings
print("t3: ", t3)

t4 = (True, False, True)    # tuple of boolean values
print("t4: ", t4)


print("Type of t4 is: ", type(t4))

t1:  (1, 2, 3, 4, 5)
t2:  (2.3, 5.6, 1.8)
t3:  ('hello', 'this', 'F', 'good show')
t4:  (True, False, True)
Type of t4 is:  <class 'tuple'>

In [4]:
type(t2)

tuple

In [5]:
# creating empty tuple
t5 = ()
print("t5: ", t5)

t5:  ()

In [6]:
# to create a tuple with only one element is a bit tricky
t6 = (25)       # note the comma, without it, Python will take it as int/float/string and not tuple
print("\nt6: ", t6)
print(type(t6))

t6:  25
<class 'int'>

In [7]:
# to create a tuple with only one element is a bit tricky
t6 = (25,)       # note the comma, without it, Python will take it as int/float/string and not tuple
print("\nt6: ", t6)
print(type(t6))

t6:  (25,)
<class 'tuple'>

In [9]:
# Nested Tuple: a tuple can also have another tuple as an item
t1 = ("Sawaira", 30, 5.5, (10,'Iqbal'))
print(t1)

('Sawaira', 30, 5.5, (10, 'Iqbal'))

In [10]:
print(len(t1[3]))
t1[3]

2

(10, 'Iqbal')

In [11]:
# Nested tuple: A tuple can also have another tuple, or list as an item
t1 = (1, "Hello", [8, 'OK', 6], (1, 2, 'BYE'), 5.5)

print("t1: ", t1)



print("Type of t1 is: ", type(t1))

t1:  (1, 'Hello', [8, 'OK', 6], (1, 2, 'BYE'), 5.5)
Type of t1 is:  <class 'tuple'>

## 2. Proof of Concepts:

### a. Tuples are Heterogeneous
- Like Lists, Tuples are heterogeneous, as their elements/items can be of any data type

In [12]:
t1 = ("Sawaira", 30, 5.5)

print("t1: ", t1)

t1:  ('Sawaira', 30, 5.5)

# b. Tuples are ordered
- Like Lists Tuples are ordered.
- Tuples are ordered means every element is associated by an index.
- Every time you access tuple elements they will show up in same sequence. 
- Moreover, two tuples having same elements in different order are not same.

In [14]:
a = (1, 2, 3)
b = (2, 3, 1)
print(id(a), id(b), a is b, a == b)

2080048291008 2080048172608 False False

# c. Tuples are immutable
- Unlike Lists Tuples are immutable
- Means once a tuple object is created, you CANNOT make changes to it and modify its elements

In [15]:
# Tuples are immutable, i.e., tuple elements cannot be changed
numbers = (10, 20, 30)
numbers[2] = 15    # this will generate an error

TypeError: 'tuple' object does not support item assignment

In [17]:
# Tupple however can be reassigned
numbers = (10, 20, 30)
numbers = (1, 2, 3)  # A tupple can be reassigned
numbers

(1, 2, 3)

Remember the tuple object `(10,20,20)` in memory has become an orphan, since the numbers variable is now pointing to another tuple object `(1,2,3)` in memory. The unreferenced tuple object will be garbage collected by Python garbage collector

In [18]:
# A List within a tuple is still mutable
t1 = (1, "Hello", [8, 'OK', 6], (1, 2, 'BYE'), 5.5)
print(t1)
print(t1[2])

(1, 'Hello', [8, 'OK', 6], (1, 2, 'BYE'), 5.5)
[8, 'OK', 6]

In [19]:
t1[2][1] = 'Not OK'         # will work fine

t1

(1, 'Hello', [8, 'Not OK', 6], (1, 2, 'BYE'), 5.5)

# d. Tuples can have duplicate elements

In [20]:
# Like Lists, Tuples allow duplicate elements
names = ('Sawaira', 'Ali', 'Ayesha', 'Dua', 'Sawaira')
print(names)

('Sawaira', 'Ali', 'Ayesha', 'Dua', 'Sawaira')

# e. Tuples can be nested to arbitrary depth
- Like Lists, you can have tuples within tuples and that can be done to an arbitrary depth. You are only restricted to the available memory on your system

In [21]:
# A tuple having two sub-tuples within it
a = (1,2,3,(4,5),(6,7,8,9),10,11)
# A tuple having a sub-tuple, which is further having a sub-tuple and that again having a subtuple
b = (1,2,3,(4,5,(6,7,8,(9,10,11))))
a, b

((1, 2, 3, (4, 5), (6, 7, 8, 9), 10, 11),
 (1, 2, 3, (4, 5, (6, 7, 8, (9, 10, 11)))))

# f. Packing and Unpacking Tuples

In [22]:
# you can unpack tuple elements
t1 = ('Data', 'Science', 'Machine', 'Learning', 'Python')

a, b, c, d, e = t1 # the number of variables on the left must match the length of tuple

print (a, c, e)


print(type(a))

Data Machine Python
<class 'str'>

In [23]:
# you can pack individual elements to a tuple
t1 = a,b,c,d,e
print(t1)
print(type(t1))

('Data', 'Science', 'Machine', 'Learning', 'Python')
<class 'tuple'>

## 3. Different ways to access Elements of a Tuple
- Since Tuple like List is of type Sequence, and any component within a sequence can be accessed by entrying an index within square brackets. So naturally this must work for Tuple as well
- Similarly, if we want to find out the index of a specific item/character, we can use the `index()` method of Tuple class

In [24]:
#You can access elements of tuple using indexing which starts from zero
t1 = ("Sawaira", 30, 5.5, (10,'Ali'))

print(t1[2])       #accessing element of tuple at index2

print(t1[3])       #accessing element of tuple at index3, which is again a tuple

5.5
(10, 'Ali')

In [25]:
#accessing Nested tuple element

print(t1[0][2])              #accessing third character of a tuple element at index 0

print(t1[3][1])              #accessing second element of Nested tuple at index 3

w
Ali

In [27]:
#Negative indexing starts looking at the tuple from the right hand side
t1 = ("Sawaira", 30, 5.5, (10,'Ali'))
print(t1[-1])                #accessing last element
print(t1[-2])                #accessing second last element
print(t1[-3])                #accessing second last element

(10, 'Ali')
5.5
30

In [28]:
help(t1.index)

Help on built-in function index:

index(value, start=0, stop=9223372036854775807, /) method of builtins.tuple instance
    Return first index of value.

    Raises ValueError if the value is not present.

In [31]:
# index(value) method is used when you know the tuple element and wants to get its index
# index(value) method returns the index of the first matched item with its only argument

mytuple = (27, 4.5, 'Sawaira', 64, 'Ali', 19, 'Dua')

print("\nmytuple: ", mytuple)

print("mytuple.index(3): ", mytuple.index('Dua'))

mytuple:  (27, 4.5, 'Sawaira', 64, 'Ali', 19, 'Dua')
mytuple.index(3):  6

## 4. Slicing Tuples
- Like anyother sequence object we can perform slicing with tuples as well.
- Slicing is the process of obtaining a portion of a tuple by using its indices.
- Given a tuple, we can use the following template to slice it and obtain a sublist:
```
mytuple[start:end:step]
```

- **start** is the index from where we want the subtuple to start.If start is not provided, slicing starts from the beginning.
- **end** is the index where we want our subtuple to end (not inclusive in the subtuple). If end is not provided, slicing goes till the last element of the tuple.
- **step** is the step through which we want to skip elements in the tuple. The default step is 1, so we iterate through every element of the tuple.

In [32]:
t1 = ('a','b','c','d','e','f','g','h','i')
t1

('a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i')

In [33]:
t1[::]

('a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i')

In [34]:
t1[3:]

('d', 'e', 'f', 'g', 'h', 'i')

In [35]:
t1[:4]

('a', 'b', 'c', 'd')

In [36]:
t1[2:5]

('c', 'd', 'e')

In [37]:
t1[:-2]

('a', 'b', 'c', 'd', 'e', 'f', 'g')

In [38]:
t1[-1]

'i'

In [39]:
# Slicing by using strides/step
print(t1[::])  # A default step of 1
print(t1[::1])  # A step of 1
print(t1[::2])  # A step of 2
print(t1[::3])  # A step of 3

('a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i')
('a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i')
('a', 'c', 'e', 'g', 'i')
('a', 'd', 'g')

In [40]:
# Reverse slicing
print(t1[::-1]) # Take 1 step back each time

print(t1[5:1:-1]) # Take 1 step back each time
#if start is less than end in case of a negative step, it will return empty string

print(t1[2:10:-1])

print(t1[::-2]) # Take 2 steps back

('i', 'h', 'g', 'f', 'e', 'd', 'c', 'b', 'a')
('f', 'e', 'd', 'c')
()
('i', 'g', 'e', 'c', 'a')

In [41]:
# You CANNOT use slice operator on the left side of assignment as tuple is immutable
t1 = (1, 2, 3, 4, 5, 6, 7)
t1[2:4] = ['a', 'b', 'c']  # will generate an error as 'tuple' object does not support item assignment

TypeError: 'tuple' object does not support item assignment

# 5. Tuple Concatenation and Repetition
- The `+` operator is used to concatenate two or more tuples
- The `*` operator is used to repeat or replicate

### a. Concatenating Tuples

In [42]:
# Add some elements to the end of an existing tuple using concatenation operator
a = (1,2,3)
b = a + (4,5)

# Add some elements to the beginning of an existing tuple using concatenation operator
c = (0,) + b
print(a, b, c)

(1, 2, 3) (1, 2, 3, 4, 5) (0, 1, 2, 3, 4, 5)

In [43]:
# use + operator to concatenate two tuples
food_items1 = ('fruits', 'bread', 'veggies')
food_items2 = ('meat', 'spices', 'burger')
food = food_items1 + food_items2
print(food)

('fruits', 'bread', 'veggies', 'meat', 'spices', 'burger')

In [44]:
# You can concatenate two heterogeneous tuples
t1 = (5, 3.4, 'hello')
t2 = (31, 9.7, 'bye')
t3 = t1 + t2
print(t3)

(5, 3.4, 'hello', 31, 9.7, 'bye')

In [45]:
num1 = (1,2,3)
num2 = num1 + (4, 5, 6, (7, 8))
print (num2)

(1, 2, 3, 4, 5, 6, (7, 8))

# b. Replicating Tuples

In [47]:
# use tuple * n syntax to create large tuples by repeating the tuple n times
name = ('Sawaira', 'Ali', 'Ayesha')
a = name * 3
print(a)

('Sawaira', 'Ali', 'Ayesha', 'Sawaira', 'Ali', 'Ayesha', 'Sawaira', 'Ali', 'Ayesha')

In [48]:
#tuple of 100 A's
buf = ('A',)
newbuf = buf * 100
print(newbuf)
type(newbuf)

('A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A')

tuple

## 6. Being immutable, you cannot add elements to a tuple (in list this is possible using `append`, `extend`, and `insert`)

In [50]:
myfamily = ("Sawaira", 'Ali', 'Ayesha')


print("\n myfamily tuple: ", myfamily)

myfamily.insert(2,'Dua') # will generate an error as tuple object has no attribute 'insert'

 myfamily tuple:  ('Sawaira', 'Ali', 'Ayesha')

AttributeError: 'tuple' object has no attribute 'insert'

## 7. Being immutable, you cannot remove elements from a tuple (in list this is possible using `pop` and `remove` methods)

In [51]:
tuple1 = ('Introduction','to','Data', 'Science')

#You cannot delete items from a tuple using del keyword
# del tuple1[3]    # will generate an error as tuple object doesn't support item deletion

# However, you can assign a new tuple object to the reference tuple1
tuple1 = (1, 2, 3, 'Ehtisham')
# However, you can delete an entire tuple object using del keyword

del tuple1
print(tuple1)

NameError: name 'tuple1' is not defined

## 8. Converting String object to List/Tuple and vice-versa

# a. Type Casting

In [52]:
# convert a string into tuple using tuple()
str1 = 'Learning Data Science and Machine Learning'    #this is a string

print("Original string: ", str1, "and its type is:  ", type(str1), sep="\n")

Original string:
Learning Data Science and Machine Learning
and its type is:
<class 'str'>

In [53]:
# int(), float(), str(), list(), tuple()

In [54]:

t1 = tuple(str1)


print("\n\n")

print("t1: ", t1, "and its type is:  ", type(t1))

t1:  ('L', 'e', 'a', 'r', 'n', 'i', 'n', 'g', ' ', 'D', 'a', 't', 'a', ' ', 'S', 'c', 'i', 'e', 'n', 'c', 'e', ' ', 'a', 'n', 'd', ' ', 'M', 'a', 'c', 'h', 'i', 'n', 'e', ' ', 'L', 'e', 'a', 'r', 'n', 'i', 'n', 'g') and its type is:   <class 'tuple'>

# b. Use `str.split()` to Split a String into Tuple
- Used to tokenize a string based on some delimiter, which can be stored in a tuple
- It returns a list, so we need to type cast the returned object to a tuple

In [55]:
str1 = ""
help(str1.split)

Help on built-in function split:

split(sep=None, maxsplit=-1) method of builtins.str instance
    Return a list of the substrings in the string, using sep as the separator string.

      sep
        The separator used to split the string.

        When set to None (the default value), will split on any whitespace
        character (including \\n \\r \\t \\f and spaces) and will discard
        empty strings from the result.
      maxsplit
        Maximum number of splits (starting from the left).
        -1 (the default value) means no limit.

    Note, str.split() is mainly useful for data that has been intentionally
    delimited.  With natural text that includes punctuation, consider using
    the regular expression module.

In [56]:
# str -> Tuple (directly impossible)
# str -> list -> tuple(possible)

In [57]:
str1 = 'Learning Data Science and Machine Learning'    #this is a string
str1

'Learning Data Science and Machine Learning'

In [58]:
# list1 = str1.split(' ')
# list1

In [59]:
# tuple(list1)

In [60]:
t1 = tuple(str1.split(' ')) # The split() method returns a list, which you can typecast to a tuple
print(t1)
print(type(t1))

('Learning', 'Data', 'Science', 'and', 'Machine', 'Learning')
<class 'tuple'>

In [61]:
str2 = "Data Science is GR8 Degree"    #this is a string
t2 = tuple(str2.split('c'))
print(t2)
print(type(t2))

('Data S', 'ien', 'e is GR8 Degree')
<class 'tuple'>

# c. Use `str.join()` to Join Strings into a Tuple
- The `str.join()` is the reverse of split() method, and is used to joing multiple strings by inserting the string in between on which this method is called
- Remember, you can pass any iterable as argument to `str.join()` method

In [62]:
str = ""
help(str.join)

Help on built-in function join:

join(iterable, /) method of builtins.str instance
    Concatenate any number of strings.

    The string whose method is called is inserted in between each given string.
    The result is returned as a new string.

    Example: '.'.join(['ab', 'pq', 'rs']) -> 'ab.pq.rs'

In [63]:
t1 = ('This', 'is', 'getting', 'more', 'and', 'more', 'interesting')
t1

('This', 'is', 'getting', 'more', 'and', 'more', 'interesting')

In [66]:
str2 = ' '.join(t1)

print(str2, type(str2), sep="\n")

This is getting more and more interesting
<class 'str'>

In [67]:
delimiter = " # "
str3 = delimiter.join(t1)
print(str3)
print(type(str3))

This # is # getting # more # and # more # interesting
<class 'str'>

## 9. Misc Tuple Methods in Python
- Tuples have built-in methods, but not as many as Lists do. Lets look at two of them:
    - The `t1.index(val)` method takes the value and returns the first index where that value resides in the tuple
    - The `t1.count(val)` method takes exactly one argument and returns the number of times a that value occurs in a tuple

In [68]:
t1 = (3, 8, 1, 6, 0, 8, 4)


rv = t1.index(0)
print(rv)

4

In [69]:
t1 = (3, 8, 1, 6, 8, 0, 8, 4)

rv = t1.count(8)
print(rv)

3

In [70]:
t1 = (3, 8, 1, 6, 8, 0, 8, 4)

rv = t1.count(-9)
print(rv)

0

## **Like Lists, you can apply `max()`, `min()`, and `sum()` functions on tuples with numeric elements**

In [71]:
t1 = (3, 8, 1, 6, 0, 8, 4)


print("length of list: ", len(t1))
print("max element in list: ", max(t1))
print("min element in list: ",min(t1))
print("Sum of element in list: ",sum(t1))

length of list:  7
max element in list:  8
min element in list:  0
Sum of element in list:  30

## **Like Lists, you can apply `in` and `not in` membership operators on Tuples**

In [72]:
t1 = (3, 8, 1, 6, 0, 8, 4)

rv1 = 9 in t1

print(rv1)

False

In [73]:
rv2 = 9 not in t1
print(rv2)

True

In [74]:

t2 = ("XYZ", "ABC", "MNO", "ALI")
rv3 = "Dua" in t2
print(rv3)

False

## **Comparing Objects and Values**

In [75]:
#In case of strings, both variables str1 and str2 refers to the same memory location containing string object 'hello'
str1 = 'hello'
str2 = 'hello'
print(id(str1), id(str2))

print (str1 is str2)  # is operator is checking the memory address (ID) of two strings
print (str1 == str2)  # == operator is checking the contents of two strings

2080027526832 2080027526832
True
True

In [76]:
#In case of tuples, both t1 and t2 refers to two different objects in the memory having same values
t1 = (1, 2, 3)
t2 = (1, 2, 3)
print(id(t1), id(t2))

print (t1 is t2)   # is operator is checking the memory address (ID) of two tuples
print (t1 == t2)   # == operator is checking the contents of two tuples element by element

2080048327488 2080054351104
False
True

In [77]:
help(sorted)

Help on built-in function sorted in module builtins:

sorted(iterable, /, *, key=None, reverse=False)
    Return a new list containing all items from the iterable in ascending order.

    A custom key function can be supplied to customize the sort order, and the
    reverse flag can be set to request the result in descending order.

## 10. Sorting a Tuple
- Python’s built-in `sorted()` function can be used to sort iterable objects, such as lists, tuples, and dictionaries. - We have seen its usage in our List session.
- The `sorted()` function sorts the items of the specified iterable object and creates a new object with the newly sorted values.
- It's syntax is as shown below:
```
    sorted(object, key=None, reverse=False)
```
- Where:
    - `object`: the iterable object that you want to sort (required)
    - `key`: the function that allows you to perform custom sort operations (optional)
    - `reverse`: specifies whether the object should be sorted in descending order (optional)- default value is False

In [80]:
# Sorting a tuple by it values with numeric values

t1 = (3, 8, 1, 6, 0, 8, 4)

print("Original Tuple = ", t1)

Original Tuple =  (3, 8, 1, 6, 0, 8, 4)

In [81]:
list1 = sorted(t1)
print(list1)

[0, 1, 3, 4, 6, 8, 8]

In [82]:
list2 = sorted(t1, reverse=True)

print("Ascending Sort: ", list1)
print("Descending Sort: ", list2)

Ascending Sort:  [0, 1, 3, 4, 6, 8, 8]
Descending Sort:  [8, 8, 6, 4, 3, 1, 0]

In [83]:
list2 = tuple(sorted(t1, reverse=True))

print("Ascending Sort: ", list1)
print("Descending Sort: ", list2)

Ascending Sort:  [0, 1, 3, 4, 6, 8, 8]
Descending Sort:  (8, 8, 6, 4, 3, 1, 0)

In [84]:
# Sorting a tuple with string values

t1 = ("XYZ", "ABC", "MNO", "ALI")
print("Original Tuple: ", t1)

list1 = sorted(t1)
list2 = sorted(t1, reverse=True)

print("Ascending Sort: ", list1)
print("Descending Sort: ", list2)

Original Tuple:  ('XYZ', 'ABC', 'MNO', 'ALI')
Ascending Sort:  ['ABC', 'ALI', 'MNO', 'XYZ']
Descending Sort:  ['XYZ', 'MNO', 'ALI', 'ABC']

# b. Custom Sorting using `sorted()` Method

**Example 1: Suppose given a tuple with elements `('ccc', 'aaaa', 'd', 'bb')` and we want to sort it by length of strings inside the tuple so that the output is like : `('d', 'bb', 'ccc', 'aaaa)`**

```
    sorted(iterable, key=None, reverse=False)
```
- We write a one argument function, and pass that function to the `key` parameter of `sorted()` function
- The `sorted()` function will run this one argument function on all the elements of the tuple and return a single value, and build up a shadow list of those new values. 
- Suppose the one argument function in this case is the Python built-in function `len()`, which when called on every element of `tuple` will return a shadow list containing length of every string within the original tuple containing `[3,4,1,2]`
- The `sorted()` function will then sort elements of the tuple based on the values of the shadow list and returns the required sorted list :)

In [85]:
t1 = ('ccc', 'aaaa', 'd', 'bb')
sorted(t1)

['aaaa', 'bb', 'ccc', 'd']

In [86]:
#Example 1:
t1 = ('ccc', 'aaaa', 'd', 'bb')
sorted(t1, key=len)

['d', 'bb', 'ccc', 'aaaa']

**Example 2: Suppose given a tuple with elements `('abcz', 'xyza', 'bas', 'ehtisham')` and we want to sort it by last character of strings within the tuple so that the output is like : `('xyza', 'ehtisham', 'bas', 'abcz')`**

```
    sorted(iterable, key=None, reverse=False)
```
- We write a one argument function, and pass that function to the `key` parameter of `sorted()` function
- The `sorted()` function will run this one argument function on all the elements of the tuple and return a single value, and build up a shadow list of those new values. 
- This time the one argument function is a user defined function that receives a string and returns its last character. When called on every element of `tuple` will return a shadow list containing only the last character of every string within the original tuple containing `['z', 'a', 's', 'f']`
- The `sorted()` function will then sort elements of the tuple based on the values of the shadow list and returns the required sorted list :)

In [87]:
def last(s):
    return s[-1]

In [88]:
t1 = ('abcz', 'xyza', 'bas', 'ehtisham')
rv = tuple(sorted(t1, key=last))
print("Original : ", rv)
print("Sorted : ",t1)

Original :  ('xyza', 'ehtisham', 'bas', 'abcz')
Sorted :  ('abcz', 'xyza', 'bas', 'ehtisham')

## *Check your Concepts*
Try answering the following questions to test your understanding of the topics covered in this notebook:

- How tuples are different from list?

- Can you add or remove elements in a tuple?

- How do you create a tuple with just one element?

- How do you convert a tuple to a list and vice versa?

- How to create a nested tuple?

- How to find a min, max value from a tuple?

- How to compare two tuples, without iteration? (Hint: cmp)

- How to find the index of a specific element of a tuple?

- How to find the count of occurrence of element in Python Tuple?

- 10.How to delete Tuple in Python ?