<h1 align="center" style="color:red" >Python-Sets </h1>

<br>
<br>

#### [Click me to learn more about Python Sets](https://docs.python.org/3/tutorial/datastructures.html#sets)

<img align="center" width="600" height="500"  src="https://f4n3x6c5.stackpathcdn.com/article/python-datatypes/Images/pd12.png" >

> **A Set is an unordered and unindexed collection of heterogeneous items that is iterable, mutable and has no duplicate elements.**

- Like Lists, a set is created by placing comma separated values, but in curly brackets rather square brackets. 
- Like List, a set also allows us to store elements of different data types in one container.
- Like List, it is possible to add, remove, or modify values in a set.
- Any immutable data type can be an element of a set: a number, a string, a tuple. Mutable data types cannot be elements of the set.
- To be honest, this data structure is extremely useful and is underutilized by beginners, so try to keep it in mind!
- The major advantage of using a set, as opposed to a list, is that it has a highly optimized method for membership testing and eliminating duplicate entries

<img align="center" width="600" height="500"  src="https://pynative.com/wp-content/uploads/2021/03/python-sets.jpg" >

In [ ]:
# list -> []
# tuple -> ()
# set -> {}

## Learning agenda of this notebook
1. How to create Sets?
2. Proof of concepts: Sets are heterogeneous, un-ordered, mutable, nested, and DOES NOT allow duplicate elements
3. Accessing elements of sets?
4. Slicing a set (can't be performed as there is no index associated with set values)
5. Set concatenation and repetition (can't be performed as on list and tuples)
6. Adding/Updating elements to a set using `add()`, and `update()` methods
7. Removing elements from a set using `pop()`, `remove()` and `discard()` methods. 
8. Converting string object to set and vice-versa (using type casting, `split()` and `join()`)
9. Elements of a set cannot be sorted (being unordered)
9. Misc set methods 
10. Some Built-in functions that can be used on sets (len, max, min, sum)
11. Misc Concepts
    - Union of sets 
    - Intersection of sets 
    - Difference of sets 
    - Symmetric Difference of sets 
    - Subsets 
    - Supersets 
    - Disjoint sets

In [ ]:
help(set)

## 1. How to create Sets?
- A set is created by placing comma separated values in curly brackets `{}`. 
- The preferred of creating a set is by using `set()` method, and passing a list to it, as curly brackets are also used by dictionary object in Python.

In [1]:
# [2,3,4,]
# (3,4,5,)
# {3,4,5,5}

# dict1 = {}
# type(dict1)

In [2]:
s1 = {1,2,3,4,5} #set of integers

print(s1, type(s1))

{1, 2, 3, 4, 5} <class 'set'>

In [3]:
# set([2,3,4,5]), set((3,4,5,5))

In [4]:
s2 = set([1, 2, 3, 4, 5])
print(s2, type(s2))

{1, 2, 3, 4, 5} <class 'set'>

In [5]:
s2 = {3.7, 6.5, 3.8, 7.95} #set of floats

s2 = set([3.7, 6.5, 3.8, 7.95])
print(s2)

{3.8, 3.7, 6.5, 7.95}

In [6]:
s3 = {"hello", "this", "F", "good show"}   #set of strings

s3 = set(["hello", "this", "F", "good show"])
print(s3)

{'hello', 'this', 'good show', 'F'}

In [7]:
s4 = {True, False, True, True, False}   #set of boolean

s4 = set([True, False, True, True, False])
print(s4)

{False, True}

In [8]:
# creating an empty set
emptyset = {}  # this is not correct way

# to create empty set, we can use set()
s5 = set()
print(s5)
print(type(s5))
print(emptyset, type(emptyset))

set()
<class 'set'>
{} <class 'dict'>

## 2. Proof of concepts: Sets are heterogeneous, unordered, mutable, nested, and does not allow duplicate elements

### a. Sets are heterogeneous
- Sets are heterogeneous, as their elements/items can be of any data type

In [10]:
s1 = {"Sawaira", 30, 5.5}
print("s1: ", s1)

s1:  {'Sawaira', 5.5, 30}

### b. Sets are unordered
- Sets are unordered means elements of a set are NOT associated by any index
- When you access set elements they may show up in different sequence. 
- Moreover, two sets having same elements in different order 
    - have different memory addresses
    - the `is` operator compares the memory adresses
    - the `==` operator compares the contents

In [12]:
s2 = set(['Learning', 'Python', 'for', 'Data', 'Science', 'with', 'Sawaira', 'Iqbal'])
print(id(s2))

2339202009120

In [13]:
a = {1, 2, 3}
b = {2, 3, 1}
print(id(a), id(b), a == b, a is b, sep="\n")

2339202009792
2339202009568
True
False

### c. Sets are mutable
- Yes, Python sets are mutable because the set itself may be modified, but the elements contained in the set must be of an immutable type.
- However, since sets cannot be indexed, so we can't change them using index withing subscript operator

In [14]:
numbers = set([10, 20, 30, 40, 50])
numbers

{10, 20, 30, 40, 50}

In [15]:
numbers[2] = 15   # Will flag an error because set elements cannot be indxed using ubscript operator

print("numbers: ", numbers)

TypeError: 'set' object does not support item assignment

### d. Sets CANNOT have duplicate elements

In [26]:
# Sets do not allow duplicate elements
# The following line will not raise an error, however, 'Ehtisham' will be added to the set only once
names = {'Sawaira', 'Ali', 'Ayesha', 'Sawaira', 'Dua'}
print(names)

{'Dua', 'Sawaira', 'Ayesha', 'Ali'}

In [27]:
# So when we want to remove duplication from list, we typecast it to a set
mylist = [2, 4, 5, 6, 8, 7, 3, 3, 2]

print("\nList: ", mylist)

List:  [2, 4, 5, 6, 8, 7, 3, 3, 2]

In [28]:
# help(set.remove)

In [29]:
myset = set(mylist)
print("\nList converted to set: ", myset)

List converted to set:  {2, 3, 4, 5, 6, 7, 8}

In [30]:
newlist = list(myset)
print(newlist)

[2, 3, 4, 5, 6, 7, 8]

In [31]:
# all code into one line 
# list(set(mylist))

### e. Mutable data types cannot be elements of the set.

In [33]:
# You can have a number, string, and tuple type of elements inside a set (being immutable)
s1 = {"Sawaira", 30, 5.5, True, (10,'Ali')}
s1

{(10, 'Ali'), 30, 5.5, 'Sawaira', True}

In [34]:
# You cannot have a list, set or dictionary inside a set (being mutable)
s1 = {"Ehtisham", 30, 5.5, [10,'Ali']}
s1

TypeError: unhashable type: 'list'

In [36]:
# You cannot have a list, set or dictionary inside a set (being mutable)
s1 = {"Sawaira", 30, 5.5, {10,'Ali'}}

TypeError: unhashable type: 'set'

In [37]:
# You cannot have a list, set or dictionary inside a set (being mutable)
s1 = {"Sawaira", 30, 5.5, {'key':'value'}}

TypeError: unhashable type: 'dict'

# e. Nested Sets
- You can have tuple inside a set
- However, you CANNOT have a list, set, and dictionary objects inside a set, because sets cannot contain mutable values
- This is one situation where you may wish to use a frozenset, which is very similar to a set except that a frozenset is immutable.

In [38]:
# Nested sets: sets can have another tuple as an item
s1 = {"Sawaira", 30, 5.5, (10,'Ali')}
print(s1)

{'Sawaira', 5.5, (10, 'Ali'), 30}

In [39]:
# However, you cannot have a list inside a set, , because sets cannot contain mutable values (lists are mutable)
s1 = {"Sawaira", 30, 5.5, [10,'Ali']} # Error unhashable type list

TypeError: unhashable type: 'list'

In [40]:
# Similarly, you cannot have a set within a set, because sets cannot contain mutable values (sets are mutable)
s1 = {"Sawaira", 30, 5.5, {10,'Ali'}} # Error unhashable type set

TypeError: unhashable type: 'set'

# f. Packing and Unpacking Sets

In [41]:
# you can unpack set elements
myset = set(['Learning', 'Python', 'for', 'Data', 'Science', 'with', 'Sawaira', 'Iqbal'])
print(myset)

{'Data', 'Python', 'with', 'Iqbal', 'Learning', 'Sawaira', 'Science', 'for'}

In [43]:
print(len(myset))
a, b, c, d, e, f, g, h = myset # the number of variables on the left must match the length of set
print(a, b, c, d, e, sep="\n")

8
Data
Python
with
Iqbal
Learning

**Note the randomness, because sets are unordered**

In [45]:
# you can pack individual elements to a set
t1 = a, b, c, d, e, f, g # By default they are packed into a tuple
print(t1)

('Data', 'Python', 'with', 'Iqbal', 'Learning', 'Sawaira', 'Science')

In [46]:
set2 = set(t1)      # So you have to type cast it to set
print(set2)
print(type(set2))

{'Data', 'Python', 'with', 'Iqbal', 'Learning', 'Sawaira', 'Science'}
<class 'set'>

## 3. Different ways to access elements of a Set
- Since sets are unordered, i.e., items of a set have no associated index, therefore elements of a Set cannot be accessed by referring to an index
- However, you can access individual set elements using a for loop
- Ask if a specified value is present in a set, by using the `in` operator.

In [47]:
# Set items cannot be accessed by referring to an index, since sets are unordered the items has no index. 

# method 1
myset = set(['Learning', 'Python', 'for', 'Data', 'Science', 'with', 'Sawaira', 'Iqbal'])

# method 2
myset = {'Learning', 'Python', 'for', 'Data', 'Science', 'with', 'Sawaira', 'Iqbal'}
print("myset: ", myset)

myset:  {'Data', 'Python', 'with', 'Iqbal', 'Learning', 'Sawaira', 'Science', 'for'}

In [48]:
# But you can loop through the set items using a for loop
myset = set(['Learning', 'Python', 'for', 'Data', 'Science', 'with', 'Sawaira', 'Iqbal'])


for i in myset:
    print(i)

Data
Python
with
Iqbal
Learning
Sawaira
Science
for

In [49]:
# To check if a specific element is there in the set, use the in keyword
rv = 'Data' in myset
rv

True

In [50]:
# To check if a specific element is there in the set, use the in keyword
rv = 'Data1' in myset
rv

False

## 4. You cannot perform Slicing on Sets
- Slicing is the process of obtaining a portion of a sequence by using its indices.
- Since no indices are associated with Set elements, so they do not support slicing or indexing in `[ ]` operator

## 5. You cannot perform Set Concatenation and Repetition
- The concatenation operator `+` and replication operator `*` does not work on sets, as there is no index associated with set elements. So concatenation and repetition using `+` and `*` operator doesnot make any sense

## 6. Adding elements to a Set
- Sets are dynamic, as we write our Python program, we can actually make changes to our already created set, whithout having to go for compiling it again. 
- If we have to add certain elements to an already created set, the original set gorws dynamically without the need of compiling/running the program again (as in case of heap memory in C/C++)

### a. Cannot Modify/Add elements to a set using [ ] operator

### b. Adding elements to a set using `set.add(value)` method
- The `set.add(val)` method is used to add an element to a set
- Only one element at a time can be added to the set by using `set.add()` method
- Lists and sets cannot be added to a set as elements because they are mutable (hashable)
- Tuples can be added because tuples are immutable and hence Hashable.

In [51]:
help(set.add)

Help on method_descriptor:

add(...)
    Add an element to a set.

    This has no effect if the element is already present.

In [52]:
#create an empty set
set1 = set()
set1

set()

In [53]:
set1.add(25)
set1.add(73)

In [54]:
set1

{25, 73}

In [55]:
# Adding an existing element
set1.add(25)
set1

{25, 73}

In [56]:
# Adding a tuple to a set
set1.add((19,25))
set1

{(19, 25), 25, 73}

In [57]:
# Adding a list to a set
set1.add([19,25])

TypeError: unhashable type: 'list'

In [58]:
# Adding a set to a set
set1.add({19,25})

TypeError: unhashable type: 'set'

In [59]:
print("Set after adding three elements: ", set1)

Set after adding three elements:  {73, 25, (19, 25)}

### c. Adding elements to a set using `set.add(val)` or `set.update(val)` method
- The `set.add(val)` method is used to add a single element to a set
- The `set.update(val)` method is used to add two or more elements to a set
- If the value already exist no change occur
- Lists and sets cannot be added to a set as elements because they are not hashable 
- Tuples can be added because tuples are immutable and hence Hashable.

In [60]:
s1 = set()
help(s1.add)

Help on built-in function add:

add(...) method of builtins.set instance
    Add an element to a set.

    This has no effect if the element is already present.

In [61]:
set1 = set()
help(set1.update)

Help on built-in function update:

update(...) method of builtins.set instance
    Update a set with the union of itself and others.

In [62]:
# add() method is used to add a single element, passed as a list
set1 = set([4, 9, 12])
set1.add(99)
set1.add(4) # Note the duplicate element 4 will not be added twice
set1

{4, 9, 12, 99}

In [63]:
# update() method is used to add one, two or more elements, passed as a list
set1 = set([4, 9, 12])

In [64]:
set1.update([99])
set1.update([4, 3.5]) # Note the duplicate element 4 will not be added twice
set1

{3.5, 4, 9, 12, 99}

In [65]:
# update() method is used to add one two or more elements, passed as a list
set3 = set([4, 9, 12])
set3.update(['Sawaira', 'Iqbal', 45])
set3

{12, 4, 45, 9, 'Iqbal', 'Sawaira'}

In [66]:
# You cannot add a single numeric value being not iterable
set2 = set([4, 9, 12])
set2.update([33])
set2

{4, 9, 12, 33}

In [68]:
# See what happens when you add a string 
set2 = set([4, 9, 12])
set2.update('Sawaira')
set2.update(['Sawaira'])
set2

{12, 4, 9, 'S', 'Sawaira', 'a', 'i', 'r', 'w'}

In [69]:
# the update() method also accepts a list having one or more tuples as its argument
set4 = set([4, 9, 12])
set4.update([(99, 88), (44, 33)])
set4

{(44, 33), (99, 88), 12, 4, 9}

## 7. Removing elements from a set
- Sets are dynamic, as we write our Python program, we can actually make changes to our already created sets, whithout having to go for compiling it again. 
- If we have to remove certain elements from an already created set, the original set shrinks dynamically without the need of compiling/running the program again (as in case of heap memory in C/C++)

### a. Removing element from a set using `set.pop(index)` method
- The `set.pop()` method removes and return an arbitrary set element

In [70]:
s1 = set()
help(s1.pop)

Help on built-in function pop:

pop(...) method of builtins.set instance
    Remove and return an arbitrary set element.
    Raises KeyError if the set is empty.

In [71]:
s1 = {'Learning', 'Python', 'for', 'Data', 'Science', 'with', 'Sawaira', 'Iqbal'}

print("Original set: ", s1)

Original set:  {'Data', 'Python', 'with', 'Iqbal', 'Learning', 'Sawaira', 'Science', 'for'}

In [72]:
x  = s1.pop()
print("Element popped is: ", x)
print("Set now is: ", s1)

Element popped is:  Data
Set now is:  {'Python', 'with', 'Iqbal', 'Learning', 'Sawaira', 'Science', 'for'}

### b. Removing element from a set using `set.remove(val)` method
- The `set.remove(val)` method is used to remove a specific element by value from a set without returning it
- The remove method is passed exactly one argument, which is the value to be removed and returns none/void

In [73]:
s1 = set()
help(s1.remove)

Help on built-in function remove:

remove(...) method of builtins.set instance
    Remove an element from a set; it must be a member.

    If the element is not a member, raise a KeyError.

In [74]:
# help(list.remove)

In [75]:
s2 = {'Learning', 'Python', 'for', 'Data', 'Science', 'with', 'Sawaira', 'Iqbal'}
print("\nOriginal set: ", s2)
x = s2.remove('Data')
# print(x)

Original set:  {'Data', 'Python', 'with', 'Iqbal', 'Learning', 'Sawaira', 'Science', 'for'}

In [76]:
print("After remove('Data'): ", s2)

print("Return value of remove() is: ", x)

# If the element to be removed does not exist in the set remove() method will flag an error

s2.remove("ali")

After remove('Data'):  {'Python', 'with', 'Iqbal', 'Learning', 'Sawaira', 'Science', 'for'}
Return value of remove() is:  None

KeyError: 'ali'

### c. Removing element from a set using `set.discard(val)` method
- The `set.discard(val)` like `set.remove(val)` method is used to remove a specific element by value from a set without returning it
- The advantage of using `set.discard(val)` method is that, if the element doesn’t exist in the set, no error is raised and the set remains unchanged.

In [77]:
s1 = set()
help(s1.discard)

Help on built-in function discard:

discard(...) method of builtins.set instance
    Remove an element from a set if it is a member.

    Unlike set.remove(), the discard() method does not raise
    an exception when an element is missing from the set.

In [63]:
s2 = {'Learning', 'Python', 'for', 'Data', 'Science', 'with', 'Sawaira', 'Iqbal'}

In [78]:
y = s2.discard('with')
print(s2,y)

{'Python', 'Iqbal', 'Learning', 'Sawaira', 'Science', 'for'} None

### d. Using `set.clear()` method to remove all the set elements

In [79]:
#use the clear() method to empty a set
s2 = {'Learning', 'Python', 'for', 'Data', 'Science', 'with', 'Sawaira', 'Iqbal'}
s2

{'Data', 'Iqbal', 'Learning', 'Python', 'Sawaira', 'Science', 'for', 'with'}

In [80]:
s2.clear()
s2

set()

### e. Using `del` Keyword to delete the set entirely from memory

In [81]:
# use del keyword to delete entire set, (you cannot delete a specific element as it is non-indexed)
s1 = {'Learning', 'Python', 'for', 'Data', 'Science', 'with', 'Sawaira', 'Iqbal'}
s1

{'Data', 'Iqbal', 'Learning', 'Python', 'Sawaira', 'Science', 'for', 'with'}

In [82]:
del s1

In [83]:
print(s1)

NameError: name 's1' is not defined

## 8. Converting string object to set and vice-versa (using type casting, split() and join())

### a. Type Casting

In [84]:
# convert a string into set using set()
str1 = 'Data Science using Python'    #this is a string
print("Original string: ", str1)

Original string:  Data Science using Python

In [85]:
# print(list(str1))
# print(tuple(str1))
# print(set(str1))

In [86]:
s1 = set(str1)
print("s1: ", s1, "and its type is:  ", type(s1), sep="\n")

s1:
{' ', 'c', 'g', 'a', 'o', 'h', 't', 's', 'n', 'y', 'P', 'u', 'S', 'e', 'i', 'D'}
and its type is:
<class 'set'>

### b. Use `str.split()` to Split a Tuple into Strings
- Used to tokenize a string based on some delimiter, which can be stored in a Tuple
- It returns a list having tokens of the string based on spaces if no argument is passed

In [87]:
str1 = ""
help(str1.split)

Help on built-in function split:

split(sep=None, maxsplit=-1) method of builtins.str instance
    Return a list of the substrings in the string, using sep as the separator string.

      sep
        The separator used to split the string.

        When set to None (the default value), will split on any whitespace
        character (including \\n \\r \\t \\f and spaces) and will discard
        empty strings from the result.
      maxsplit
        Maximum number of splits (starting from the left).
        -1 (the default value) means no limit.

    Note, str.split() is mainly useful for data that has been intentionally
    delimited.  With natural text that includes punctuation, consider using
    the regular expression module.

In [88]:
str1 = 'Data Science using Python'    #this is a string
str1.split()

['Data', 'Science', 'using', 'Python']

In [89]:
set1 = set(str1.split(' '))

In [90]:
print(set1)
print(type(set1))

{'Python', 'Data', 'using', 'Science'}
<class 'set'>

In [91]:
str2 = "Data Science is GR8 Degree"    #this is a string
set2 = set(str2.split('c'))
set2

{'Data S', 'e is GR8 Degree', 'ien'}

### c. Use `str.join()` to Join Strings into a List
- It is the reverse of `str.split()` method, and is used to joing multiple strings by inserting the string in between on which this method is called

In [92]:
str1 = ""
help(str1.join)

Help on built-in function join:

join(iterable, /) method of builtins.str instance
    Concatenate any number of strings.

    The string whose method is called is inserted in between each given string.
    The result is returned as a new string.

    Example: '.'.join(['ab', 'pq', 'rs']) -> 'ab.pq.rs'

In [93]:
set1 = {'This', 'is', 'getting', 'more', 'and', 'more', 'interesting'}
set1

{'This', 'and', 'getting', 'interesting', 'is', 'more'}

In [94]:
str2 = ' '.join(set1)
str2

'getting This more is and interesting'

In [95]:
print(str2)
print(type(str2))

getting This more is and interesting
<class 'str'>

In [96]:
delimiter = " @ "
str3 = delimiter.join(set1)
print(str3)
print(type(str3))

getting @ This @ more @ is @ and @ interesting
<class 'str'>

## 9. Elements of a Set Cannot be Sorted
- Given that sets are unordered, it is not possible to sort the values of a set. So you cannot call the built-in function `sorted()` or the `list.sort()` method on sets

## 10.  Misc Concepts

**Like Lists and Tuples, you can apply `max()`, `min()`, and `sum()` functions on Sets with numeric elements**

In [97]:
s1 = set([3, 8, 1, 6, 0, 8, 4])
print(s1)

{0, 1, 3, 4, 6, 8}

In [98]:
print("length of set: ", len(s1))
print("max element in set: ", max(s1))
print("min element in set: ",min(s1))
print("Sum of element in set: ",sum(s1))

length of set:  6
max element in set:  8
min element in set:  0
Sum of element in set:  22

**Like Lists and Tuples, you can apply `in` and `not in` membership operators on Sets**

In [99]:
s1 = set([3, 8, 1, 6, 0, 8, 4])

rv1 = 9 in s1
print(rv1)

False

In [100]:
rv2 = 9 not in s1
print(rv2)


s2 = set(["XYZ", "ABC", "MNO", "Ehtisham"])
rv3 = "ALI" in s2
print(rv3)

True
False

**Comparing Objects and Values**

In [101]:
#In case of strings, both variables str1 and str2 refers to the same memory location containing string object 'hello'
str1 = 'hello'
str2 = 'hello'
print(id(str1), id(str2))

print (str1 is str2)  # is operator is checking the memory address (ID) of two strings
print (str1 == str2)  # == operator is checking the contents of two strings

2339181285616 2339181285616
True
True

In [102]:
#In case of sets, both t1 and t2 refers to two different objects in the memory having same values
s1 = set([1, 2, 3])
s2 = set([1, 2, 3])
print(id(s1), id(s2))

print (s1 is s2)   # is operator is checking the memory address (ID) of two sets
print (s1 == s2)   # == operator is checking the contents of two sets element by element

2339207865600 2339207865152
False
True

## 11. Special Operations  related to Sets

### a. Union of sets
- A `s1.union(s2)` method or `s1 | s2`, returns a new set containing all values that are in s1, or s2, or both

![](images/Union-in-python.jpg)

In [103]:
s1 = set()
s2 = set()
# help(s1 | s2)
help(s1.union)

Help on built-in function union:

union(...) method of builtins.set instance
    Return the union of sets as a new set.

    (i.e. all elements that are in either set.)

In [104]:
set1 = {'Sawaira', 'Sawaira', "Dua"}
set2 = {'Ayesha', 'Ali', 'Sawaira'}

In [105]:
set3 = set1 | set2
set4 = set1.union(set2)

In [106]:
print("set1: ", set1)
print("set2: ", set2)
print("set1 | set2: ", set3)
print("set1.union(set2) : ", set4)

set1:  {'Dua', 'Sawaira'}
set2:  {'Sawaira', 'Ayesha', 'Ali'}
set1 | set2:  {'Sawaira', 'Ali', 'Dua', 'Ayesha'}
set1.union(set2) :  {'Sawaira', 'Ali', 'Dua', 'Ayesha'}

### b. Intersection of sets
- A `s1.intersection(s2)` method or `s1 & s2`, returns a new set containing all values that are common in in s1 and s2

![](images/Intersection-of-Sets.png)

In [107]:
s1 = set()
help(s1.intersection)

Help on built-in function intersection:

intersection(...) method of builtins.set instance
    Return the intersection of two sets as a new set.

    (i.e. all elements that are in both sets.)

In [108]:
set1 = {'Sawaira', 'Sawaira', "Dua"}
set2 = {'Ayesha', 'Ali', 'Sawaira'}

In [109]:
set3 = set1 & set2
set4 = set1.intersection(set2)

print("set1: ", set1)
print("set2: ", set2)
print("set1 & set2: ", set4)

set1:  {'Dua', 'Sawaira'}
set2:  {'Sawaira', 'Ayesha', 'Ali'}
set1 & set2:  {'Sawaira'}

### c. Difference of sets
- A `s1.difference(s2)` method or `s1 - s2`, returns a new set containing all values of s1 that are not there in s2

![](images/difference-of-sets-aminusb-and-bminusa---venn-diagram.jpg)

In [110]:
s1 = set()
help(s1.difference)

Help on built-in function difference:

difference(...) method of builtins.set instance
    Return the difference of two or more sets as a new set.

    (i.e. all elements that are in this set but not the others.)

In [111]:
set1 = {'Sawaira', 'Sawaira', 'dua'}
set2 = {'Ayesha', 'Ali', 'Sawaira'}

In [112]:
set3 = set1 - set2
set4 = set1.difference(set2)

In [113]:
print("set1: ", set1)
print("set2: ", set2)
print("set1 - set2: ", set4)

set1:  {'Sawaira', 'dua'}
set2:  {'Sawaira', 'Ayesha', 'Ali'}
set1 - set2:  {'dua'}

In [114]:
set2 - set1

{'Ali', 'Ayesha'}

### d. Symmetric Difference of sets
- A `s1.symmetric_difference(s2)` method or `s1 ^ s2`, returns a new set containing all elements that are in exactly one of the sets, equivalent to `(s1 | s2)  - (s1 & s2)`

In [115]:
s1 = set()
help(s1.symmetric_difference)

Help on built-in function symmetric_difference:

symmetric_difference(...) method of builtins.set instance
    Return the symmetric difference of two sets as a new set.

    (i.e. all elements that are in exactly one of the sets.)

In [117]:
set1 = {'Sawaira', 'Sawaira', 'dua'}
set2 = {'Ayesha', 'Ali', 'Sawaira'}

In [118]:
set3 = set1 ^ set2
set4 = set1.symmetric_difference(set2)

print("set1: ", set1)
print("set2: ", set2)
print("set1 ^ set2: ", set4)

set1:  {'Sawaira', 'dua'}
set2:  {'Sawaira', 'Ayesha', 'Ali'}
set1 ^ set2:  {'dua', 'Ayesha', 'Ali'}

In [119]:
# s1 = set1.union(set2)
# print(s1)
# s2 = set1.intersection(set2)
# print(s2)
# # # set1.union(set2) - set1.intersection(set2)
# s3 = s1-s2
# print(s3)

### e. Checking Subset
- The `s1.issubset(s2)` method or `s1 <= s2`, returns True if s1 is a subset of s2

![](images/subset_example1_0.png)

In [120]:
s1 = set()
help(s1.issubset)

Help on built-in function issubset:

issubset(...) method of builtins.set instance
    Report whether another set contains this set.

In [121]:
s1 = {1,2,3,4,5,6,7}
s2 = {1,2,3,4}

In [122]:
print(s2.issubset(s1))     # is s2 a subset of s1

True

In [123]:
print(s1 <= s2)            # is s1 a subset of s2

False

### f. Checking Superset
- The `s1.issuperset(s2)` method or `s1 >= s2`, returns True if s1 is a superset of s2

<img align="center" width="600" height="400"  src="" >

In [119]:
s1 = set()
help(s1.issuperset)

Help on built-in function issuperset:

issuperset(...) method of builtins.set instance
    Report whether this set contains another set.

In [124]:
s1 = {1,2,3,4,5,6,7}
s2 = {1,2,3,4}

print(s1.issuperset(s2)) # is s1 a superset of s2
print(s1 >= s2)          # is s1 a superset of s2

True
True

### g. Checking Disjoint
- The `s1.isdisjoint(s2)` method, returns True if two sets have a null intersection

![](images/disjoint-of-sets-using-Venn-diagram.png)

In [125]:
s1 = set()
help(s1.isdisjoint)

Help on built-in function isdisjoint:

isdisjoint(...) method of builtins.set instance
    Return True if two sets have a null intersection.

In [126]:
s1 = {1,2,3,4,5,6,7}
# s1.intersection_update
s2 = {1,2,3,4}
print(s1.isdisjoint(s2))

False

In [123]:
# Another example
s3 = {1,2,3,4}
s4 = {5,6,7,8}
print(s3.isdisjoint(s4))

True

# Check Concepts:

- Are the elements of a set ordered or unordered?
- Does a set allow you to store duplicate elements?
- How do you create an empty set?
- How can you determine whether a specific element exists in a set?
- What is the difference between the remove and discard methods?
- Write code that prints all strings that are in both set s and set t.
- Write code that prints all strings that are in set s, but not in set t.
- Which operator is used to test whether an element is a member of a set?
- Which method produces a new set with the elements that are contained in both sets?
- Which method produces a new set with the elements that belong to the first set but not the second.
- What is the difference between a set and a tuple?
- What is the difference between a set and a list?

In [ ]:
print(dir(set))