<h1 align="center" style = "color:red">Python Data Types</h1>

- Variables can hold values, and every value has a data-type. Python is a dynamically typed language; hence we do not need to define the type of the variable while declaring it. The interpreter implicitly binds the value with its type.
- The variable `a` holds integer value `five` and we did not define its type. Python interpreter will automatically interpret variables `a` as an integer type.

In [9]:
x = 5
a = 10  
b = "Hi Python"  
c = 10.5

In [10]:
print(type(a))  
print(type(b))  
print(type(c))  
print(type(x))

<class 'int'>
<class 'str'>
<class 'float'>
<class 'int'>

<img src="" height=450px width=450px>

<h1 align="center" style = "color:red">1. Numeric DataType</h1>

#### Numbers:
Number stores numeric values. The `integer`, `float`, and `complex` values belong to a Python `Numbers` data-type. Python provides the `type()` function to know the data-type of the variable.




Python supports three types of numeric data.

1. **Int** - Integer value can be any length such as integers 10, 2, 29, -20, -150 etc. Python has no restriction on the length of an integer. Its value belongs to int
2. **Float** - Float is used to store floating-point numbers like 1.9, 9.902, 15.2, etc. It is accurate upto 15 decimal points.
3. **complex** - A complex number contains an ordered pair, i.e., x + iy where x and y denote the real and imaginary parts, respectively. The complex numbers like 2.14j, 2.0 + 2.3j, etc.
4. **Boolean:** Also known as bool data type allows us to choose between two values: True and False. Booleans have the type bool. A Boolean is used to determine whether the logic of an expression or a comparison is correct. It plays a huge role in data comparisons.

# i. Integer:

In [2]:
a = 3489
print('interger value is:', a)
print('data type is:',type(a))

interger value is: 3489
data type is: <class 'int'>

# ii.  Float:

In [3]:
b = 23.89
print(b)
print(type(b))

23.89
<class 'float'>

# iii. Complex:

In [4]:
c = 3j+7
print(c)
print(type(c))

(7+3j)
<class 'complex'>

In [5]:
y = complex(3, 2) 
print(y)

(3+2j)

# a. Boolean:

In [6]:
a = 5<2
print(a)
print(type(a))

False
<class 'bool'>

In [7]:
a = True
b = False 
print(a, b)

True False

In [8]:
print(bool(1))
print(bool(0))

print(bool(True))
print(bool(False))

True
False
True
False

In [11]:
a = 5  
print("The type of a", type(a))  
  
b = 40.5  
print("The type of b", type(b))  
  
c = 1+3j  
print("The type of c", type(c))

The type of a <class 'int'>
The type of b <class 'float'>
The type of c <class 'complex'>

In [12]:
5 < 2 # `<` is a less than operator

False

In [13]:
print(5 < 2)

False

In [14]:
result = 5 < 2 
type(result)

bool

In [15]:
w = 10
x = 20.5
y = complex(3, 2)  
y = 3 + 2j
z = True

In [16]:
print(type(w))
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'bool'>

<h1 align="center" style = "color:red">Conversion/Type Casting</h1>

###  Conversion/Type Casting


- **Implicit Type Conversion:** While performing arithmetic operations, integers are automatically converted to `float` if any of the operands is a `float`. Also, the division operator `/` always returns a `float`, even if both operands are integers. Use the `//` operator if you want the result of the division to be an `int`.

- **Explicit Type Conversion or Type Casting** refers to the conversion of an object from one data type to another

## 1. Implicit Type Conversion:

In [1]:
a = 7
b = 8
value = a/b
print(type(value))

<class 'float'>

In [2]:
x = 10
y = 5.5
total = 10 + 5
print(total)
print(type(total))

15
<class 'int'>

In [3]:
a = 4/2
b = 4/2.0
print(type(a), type(b))

<class 'float'> <class 'float'>

In [4]:
a = 3 * 5
b = 3 * 5.0
type(a), type(b)

(int, float)

In [5]:
age = 21
marks = 74.2
c = age + marks
print(c)

95.2

In [6]:
print(type(c))

<class 'float'>

In [7]:
number1 = 63
number2 = 8
print(number1/number2)
print(number1//number2)          # floor division

print(type(number1/number2))
print(type(number1//number2))

7.875
7
<class 'float'>
<class 'int'>

In [8]:
age = 21
name = "Ehtisham"
age + name

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
str(age)

In [ ]:
str(age)+name

### b. Explicit Type Conversion (Type Casting)

####  Convert to Integer using ` int (a)`  function

<img src="https://learningmonkey.in/wp-content/uploads/2021/05/Tye-Conversion-and-Type-Casting-in-Python.jpg" width="400" height="200">

**int() Function:**    
- The `int()` method is used to convert a string to an integer in Python. This can be useful if you need to store a value as an integer or perform mathematical operations on a value stored as a string.

In [9]:
a = "32"
b = 45

In [10]:
print(type(a), type(b))

<class 'str'> <class 'int'>

In [11]:
a+b

TypeError: can only concatenate str (not "int") to str

In [12]:
type(a),type(int(a))

(str, int)

In [13]:
c = int(a) + b

In [14]:
print(c)

77

In [15]:
# convert float into integer using `int()` 
num1 = 3.5
type(num1)

float

In [16]:
type(int(num1))

int

**float() Function:**
- The `float()` method is a built-in Python function that is used to convert an integer or a string to a floating-point value.

In [17]:
a = 5
b = 8
c = a + b
print(c)

13

In [18]:
print(float(c))

13.0

**str() Function:**
- The `str()` function converts the specified value into a string.

In [19]:
x = 21
print(type(x), x)

<class 'int'> 21

In [20]:
y = str(x)
type(y), y

(str, '21')

In [22]:
# Convert to Float  using  `float (a)` function

a = 54
type(a), a

(int, 54)

In [23]:
b = float(a)
type(b), b

(float, 54.0)

In [24]:
# Note that a and be are two different objects
id(a), id(b)

(140724592896456, 2114192698256)

In [25]:
num = 341
type(num), num

(int, 341)

In [26]:
mystr = str(num)
type(mystr), mystr

(str, '341')

In [27]:
# Convert two Floats to Complex Data type  using  `complex (a, b)`  function

a = 2.6
b = 3.2
x = complex(a,b)
type(x), x

(complex, (2.6+3.2j))

**Note:**
- Is it possible to convert `str1 ="abc123"` into integer variable/value?

In [28]:
str1 = "123"

In [29]:
int(str1)

123

### Working of `input()` Function

# Question: **write a program to swap two numbers**

In [30]:
name = input("Enter your name: ")

Enter your name: sawaira

In [31]:
type(name)

str

In [32]:
age = input("Enter your age : ")

Enter your age : 21

In [33]:
type(age)

str

In [35]:
number1 = int(input("Enter First Number : "))

number2 = int(input("Enter second number : "))

Enter First Number : 5
Enter second number : 8

In [36]:
print("Before swapping numbers are : ", number1 , number2)

Before swapping numbers are :  5 8

In [37]:
# code to swap two numbers
number1, number2 = number2, number1

In [38]:
print('After swapping numbers are : ', number1, number2)

After swapping numbers are :  8 5

<h1 align="center" style = "color:red">Operators in Python </h1>

The operator can be defined as a symbol which is responsible for a particular operation between two operands. Operators are the pillars of a program on which the logic is built in a specific programming language. Python provides a variety of operators, which are described as follows.

### i. Arithmetic operators in Python
- Arithmetic operators are used to perform arithmetic operations between two operands.
- Python supports the following arithmetic operators:

| Operator   | Purpose           | Example     | Result    |
|------------|-------------------|-------------|-----------|
| `+`        | Addition          | `2 + 3`     | `5`       |
| `-`        | Subtraction       | `3 - 2`     | `1`       |
| `*`        | Multiplication    | `8 * 12`    | `96`      |
| `/`        | Division          | `100 / 7`   | `14.28..` |
| `//`       | Floor Division    | `100 // 7`  | `14`      |    
| `%`        | Modulus/Remainder | `100 % 7`   | `2`       |
| `**`       | Exponent          | `5 ** 3`    | `125`     |

In [39]:
# Here x and y are operands
x = 10
y = 3

# Output: x + y 
print('x + y =',x+y)

# Output: x - y 
print('x - y =',x-y)

# Output: x * y 
print('x * y =',x*y)

# Output: x / y 
print('x / y =',x/y)

# Floor Division: Output: x // y 
print('x // y =',x//y)

# Output: x ^ y 
# Ouput of Exponent
print('x ** y =',x**y)
# x = 10 , y =3 , 1000

# Output: x % y 
print('x % y =',x%y)

x + y = 13
x - y = 7
x * y = 30
x / y = 3.3333333333333335
x // y = 3
x ** y = 1000
x % y = 1

### ii.Assignment Operators
- The assignment operators are used to assign the value of the right expression to the left operand.
- Python supports the following Assignment operators:
- If a = 10, b = 20

| Operator | Description | Representation | Example | Result |
|----------|-------------|----------------|---------|--------|
| =        | It assigns the value of the right expression to the left operand | = | a=b | 20 |
| +=       | It increases the value of the left operand by the value of the right operand and assigns the modified value back to left operand. | a+ = b will be equal to a = a+ b | a+=b | 30 |
| -=       | It decreases the value of the left operand by the value of the right operand and assigns the modified value back to left operand. | a- = b will be equal to a = a- b  | a-=b | -10 |
| *=       | It multiplies the value of the left operand by the value of the right operand and assigns the modified value back to then the left operand. | a*=b will be equal to a = a*b | a*=b | 200 |
| %=       | It divides the value of the left operand by the value of the right operand and assigns the reminder back to the left operand. | a%=b will be equala to a = a%b | a%=b | 1 |

In [ ]:
#Assignment operators in Python
x = 4


x += 5    # <->  x = x + 5
print(x)

#    x = x - 5
x -= 5      
print(x)

#    x = x * 5
x *= 5     
print(x)

#    x = x / 5
x /= 5  
print(x)

#    x = x % 5
#    x %= 5       

#    x = x // 5
#    x //= 5      

#    x = x ** 5
x **= 5      
print(x)

### iii. Comparison Operators
- Comparison operators are used to comparing the value of the two operands and returns Boolean true or false accordingly.

| Operator | Description |
|----------|-------------|
| ==       | If the value of two operands is equal, then the condition becomes true. |
| !=       | If the value of two operands is not equal, then the condition becomes true. |
| <=       | If the first operand is less than or equal to the second operand, then the condition becomes true. |
| >=       | If the first operand is greater than or equal to the second operand, then the condition becomes true. |
| >        | If the first operand is greater than the second operand, then the condition becomes true. |
| <        | If the first operand is less than the second operand, then the condition becomes true. |

In [1]:
#Comparison operators in Python

x = 10
y = 12

# Output: x > y 
print('x > y is',x>y)

# Output: x < y 
print('x < y is',x<y)

# Output: x == y 
print('x == y is',x==y)

# Output: x != y 
print('x != y is',x!=y)

# Output: x >= y 
print('x >= y is',x>=y)

# Output: x <= y 
print('x <= y is',x<=y)

x > y is False
x < y is True
x == y is False
x != y is True
x >= y is False
x <= y is True

In [2]:
a = (x <= y)
print(a)

True

### iv. Bitwise Operators
- The bitwise operators perform bit by bit operation on the values of the two operands.


| Operator | Description |
|----------|-------------|
| a&b      | If both the bits at the same place in two operands are 1, then 1 is copied to the result. Otherwise, 0 is copied. |
| a or b   | The resulting bit will be 0 if both the bits are zero; otherwise, the resulting bit will be 1. |

In [4]:
#Bitwise operators in Python
x = 10   # 00001010
y = 4    # 00000100


# Bitwise and
print('x & y is',x&y)

x & y is 0

In [5]:
# Bitwise or
print('x | y is',x|y)

x | y is 14

### v. Logical Operator
- The logical operators are used primarily in the expression evaluation to make a decision. 
- When Python is processing a logical expression such as `x >= 2 and (x/y) > 2` , it evaluates the expression from left to right.
- The logical operators `and`, `or` and `not` operate upon conditions and `True` & `False` values. The `and` and `or` operate on two conditions, whereas `not` operates on a single condition.

- The `and` operator returns `True` when both the conditions evaluate to `True`. Otherwise, it returns `False`.

| `a`     | `b`    | `a and b` |
|---------|--------|-----------|
|  `True` | `True` | `True`    |
|  `True` | `False`| `False`   |
|  `False`| `True` | `False`   |
|  `False`| `False`| `False`   |

- The `or` operator returns `True` if at least one of the conditions evaluates to `True`. It returns `False` only if both conditions are `False`.

| `a`     | `b`    | `a or b`  |
|---------|--------|-----------|
|  `True` | `True` | `True`    |
|  `True` | `False`| `True`    |
|  `False`| `True` | `True`    |
|  `False`| `False`| `False`   |

- The `not` operator returns `False` if a condition is `True` and `True` if the condition is `False`.

In [3]:
x = True
y = False

print('x and y is',x and y)

print('x or y is',x or y)

print('not x is',not x)

x and y is False
x or y is True
not x is False

In [4]:
# A short circuit happens in 'and' operation, when the first condition evaluates to False
x = 3
y = 0
z = ((x>=6) and (x/y))
z

False

### vi. Identity Operators in Python
- Identity operators are used to compare the ID of objects (not their values)
- Returns True if both objects refer to same memory location
- The two identity operators in Python are `is` and `is not`.


| Operator | Description |
|----------|-------------|
| is       | It is evaluated to be true if the reference present at both sides point to the same object. |
| is not   | It is evaluated to be true if the reference present at both sides do not point to the same object. |

In [5]:
#Identity operators in Python
a = 5
b = 5.0
print(id(a))
print(id(b))




print(a is b)
print(a==b)

140733226214312
3050436844656
False
True

In [6]:
a = 'Hello'
b = 'Hello'

# Output: False
print(a is not b)

# Output: True
print(a is b)

False
True

### vi. Membership Operators
- Python membership operators are used to check the membership of value inside a Python data structure. If the value is present in the data structure, then the resulting value is true otherwise it returns false.


| Operator | Description |
|----------|-------------|
| in       | It is evaluated to be true if the first operand is found in the second operand (list, tuple, or dictionary). |
| not in   | It is evaluated to be true if the first operand is not found in the second operand (list, tuple, or dictionary). |

In [9]:
name = "Sawaira Iqbal"

a = 'a'
b = 'b'

# check `a` in name
rv = a in name
print(rv)

# check `b` in name
rv = b in name
print(rv)

True
True

In [10]:
list1 = [2,3,4,5,6,6,7,8]
if 22 in list1:
    print("Exist")
else:
    print("Not Exist")

Not Exist

# viii. Operator Precedence in Python
- The precedence of the operators is essential to find out since it enables us to know which operator should be evaluated first.

### PEMDAS

* P: Parentheses ()
* E: Exponentiation **
* M: Multiplication *, Division /, Floor Division //, and Modulus %
* D: Addition + and Subtraction -
* A: Bitwise Shifts << and >>, Bitwise AND &, Bitwise XOR ^, and Bitwise OR |
* S: Comparison Operators ==, !=, <, >, <=, >=, Identity Operators is, is not, Membership Operators in, not in

In [13]:
num1, num2, num3 = 2, 3, 4
print ((num1 + num2) * num3)

20

In [11]:
print(5 + 3 * 2)
print((5 + 3) * 2)

11
16

In [12]:
print(2 ** 3 ** 2)
print((2 ** 3) ** 2)

512
64

In [14]:
num1, num2, num3 = 2, 3, 4
print (num1 ** num2 + num3)

12

<h1 align="center" style = "color:red">Mathematical Functions and Modules </h1>

#### The math Module:
* Common Math Functions (e.g., sin(), cos(), sqrt())
* Using External Libraries (e.g., NumPy)      

In Python, the math module is a standard library module that provides a wide range of mathematical functions and constants for performing various mathematical operations. To use the math module, you typically start by importing it at the beginning of your Python script or program:

In [18]:
import math

# Access the documentation for the math module
help(math)

Help on built-in module math:

NAME
    math

DESCRIPTION
    This module provides access to the mathematical functions
    defined by the C standard.

FUNCTIONS
    acos(x, /)
        Return the arc cosine (measured in radians) of x.

        The result is between 0 and pi.

    acosh(x, /)
        Return the inverse hyperbolic cosine of x.

    asin(x, /)
        Return the arc sine (measured in radians) of x.

        The result is between -pi/2 and pi/2.

    asinh(x, /)
        Return the inverse hyperbolic sine of x.

    atan(x, /)
        Return the arc tangent (measured in radians) of x.

        The result is between -pi/2 and pi/2.

    atan2(y, x, /)
        Return the arc tangent (measured in radians) of y/x.

        Unlike atan(y/x), the signs of both x and y are considered.

    atanh(x, /)
        Return the inverse hyperbolic tangent of x.

    cbrt(x, /)
        Return the cube root of x.

    ceil(x, /)
        Return the ceiling of x as an Integral.

        This is the smallest integer >= x.

    comb(n, k, /)
        Number of ways to choose k items from n items without repetition and without order.

        Evaluates to n! / (k! * (n - k)!) when k <= n and evaluates
        to zero when k > n.

        Also called the binomial coefficient because it is equivalent
        to the coefficient of k-th term in polynomial expansion of the
        expression (1 + x)**n.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    copysign(x, y, /)
        Return a float with the magnitude (absolute value) of x but the sign of y.

        On platforms that support signed zeros, copysign(1.0, -0.0)
        returns -1.0.

    cos(x, /)
        Return the cosine of x (measured in radians).

    cosh(x, /)
        Return the hyperbolic cosine of x.

    degrees(x, /)
        Convert angle x from radians to degrees.

    dist(p, q, /)
        Return the Euclidean distance between two points p and q.

        The points should be specified as sequences (or iterables) of
        coordinates.  Both inputs must have the same dimension.

        Roughly equivalent to:
            sqrt(sum((px - qx) ** 2.0 for px, qx in zip(p, q)))

    erf(x, /)
        Error function at x.

    erfc(x, /)
        Complementary error function at x.

    exp(x, /)
        Return e raised to the power of x.

    exp2(x, /)
        Return 2 raised to the power of x.

    expm1(x, /)
        Return exp(x)-1.

        This function avoids the loss of precision involved in the direct evaluation of exp(x)-1 for small x.

    fabs(x, /)
        Return the absolute value of the float x.

    factorial(n, /)
        Find n!.

        Raise a ValueError if x is negative or non-integral.

    floor(x, /)
        Return the floor of x as an Integral.

        This is the largest integer <= x.

    fmod(x, y, /)
        Return fmod(x, y), according to platform C.

        x % y may differ.

    frexp(x, /)
        Return the mantissa and exponent of x, as pair (m, e).

        m is a float and e is an int, such that x = m * 2.**e.
        If x is 0, m and e are both 0.  Else 0.5 <= abs(m) < 1.0.

    fsum(seq, /)
        Return an accurate floating point sum of values in the iterable seq.

        Assumes IEEE-754 floating point arithmetic.

    gamma(x, /)
        Gamma function at x.

    gcd(*integers)
        Greatest Common Divisor.

    hypot(...)
        hypot(*coordinates) -> value

        Multidimensional Euclidean distance from the origin to a point.

        Roughly equivalent to:
            sqrt(sum(x**2 for x in coordinates))

        For a two dimensional point (x, y), gives the hypotenuse
        using the Pythagorean theorem:  sqrt(x*x + y*y).

        For example, the hypotenuse of a 3/4/5 right triangle is:

            >>> hypot(3.0, 4.0)
            5.0

    isclose(a, b, *, rel_tol=1e-09, abs_tol=0.0)
        Determine whether two floating point numbers are close in value.

          rel_tol
            maximum difference for being considered "close", relative to the
            magnitude of the input values
          abs_tol
            maximum difference for being considered "close", regardless of the
            magnitude of the input values

        Return True if a is close in value to b, and False otherwise.

        For the values to be considered close, the difference between them
        must be smaller than at least one of the tolerances.

        -inf, inf and NaN behave similarly to the IEEE 754 Standard.  That
        is, NaN is not close to anything, even itself.  inf and -inf are
        only close to themselves.

    isfinite(x, /)
        Return True if x is neither an infinity nor a NaN, and False otherwise.

    isinf(x, /)
        Return True if x is a positive or negative infinity, and False otherwise.

    isnan(x, /)
        Return True if x is a NaN (not a number), and False otherwise.

    isqrt(n, /)
        Return the integer part of the square root of the input.

    lcm(*integers)
        Least Common Multiple.

    ldexp(x, i, /)
        Return x * (2**i).

        This is essentially the inverse of frexp().

    lgamma(x, /)
        Natural logarithm of absolute value of Gamma function at x.

    log(...)
        log(x, [base=math.e])
        Return the logarithm of x to the given base.

        If the base not specified, returns the natural logarithm (base e) of x.

    log10(x, /)
        Return the base 10 logarithm of x.

    log1p(x, /)
        Return the natural logarithm of 1+x (base e).

        The result is computed in a way which is accurate for x near zero.

    log2(x, /)
        Return the base 2 logarithm of x.

    modf(x, /)
        Return the fractional and integer parts of x.

        Both results carry the sign of x and are floats.

    nextafter(x, y, /)
        Return the next floating-point value after x towards y.

    perm(n, k=None, /)
        Number of ways to choose k items from n items without repetition and with order.

        Evaluates to n! / (n - k)! when k <= n and evaluates
        to zero when k > n.

        If k is not specified or is None, then k defaults to n
        and the function returns n!.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    pow(x, y, /)
        Return x**y (x to the power of y).

    prod(iterable, /, *, start=1)
        Calculate the product of all the elements in the input iterable.

        The default start value for the product is 1.

        When the iterable is empty, return the start value.  This function is
        intended specifically for use with numeric values and may reject
        non-numeric types.

    radians(x, /)
        Convert angle x from degrees to radians.

    remainder(x, y, /)
        Difference between x and the closest integer multiple of y.

        Return x - n*y where n*y is the closest integer multiple of y.
        In the case where x is exactly halfway between two multiples of
        y, the nearest even value of n is used. The result is always exact.

    sin(x, /)
        Return the sine of x (measured in radians).

    sinh(x, /)
        Return the hyperbolic sine of x.

    sqrt(x, /)
        Return the square root of x.

    tan(x, /)
        Return the tangent of x (measured in radians).

    tanh(x, /)
        Return the hyperbolic tangent of x.

    trunc(x, /)
        Truncates the Real x to the nearest Integral toward 0.

        Uses the __trunc__ magic method.

    ulp(x, /)
        Return the value of the least significant bit of the float x.

DATA
    e = 2.718281828459045
    inf = inf
    nan = nan
    pi = 3.141592653589793
    tau = 6.283185307179586

FILE
    (built-in)

In [ ]:
import math

## Common Math Functions (e.g., sin(), cos(), sqrt()):

Trigonometric Functions: The math module provides trigonometric functions like sin(), cos(), and tan(), which work with angles in radians:

In [15]:
import math

angle = math.pi / 4  # 45 degrees in radians
sine_value = math.sin(angle)
cosine_value = math.cos(angle)

In [19]:
try:
    result = 10 / 0
except ZeroDivisionError:
    print("Error: Division by zero!")

Error: Division by zero!

### Check your Concepts

Try answering the following questions to test your understanding of the topics covered in this notebook:

1. What the different arithmetic operations supported in Python?
2. How do you perform arithmetic operations using Python?
3. What is the difference between the `/` and the `//` operators?
4. What is the difference between the `*` and the `**` operators?
5. What do you mean by precedence of operators?
5. What is the order of precedence for arithmetic operators in Python?
6. How do you specify the order in which arithmetic operations are performed in an expression involving multiple operators?
7. How do you solve a multi-step arithmetic word problem using Python?
8. What are variables? Why are they useful?
9. How do you create a variable in Python?
10. What is the assignment operator in Python?
11. What are the rules for naming a variable in Python?
12. How do you view the value of a variable?
13. How do you store the result of an arithmetic expression in a variable?
14. What happens if you try to access a variable that has not been defined?
15. How do you display messages in Python?
16. What type of inputs can the print function accept?
17. What are code comments? How are they useful?
18. What are the different ways of creating comments in Python code?
19. What are the different comparison operations supported in Python?
20. What is the result of a comparison operation?
21. What is the difference between `=` and `==` in Python?
22. What are the logical operators supported in Python?
23. What is the difference between the `and` and `or` operators?
24. Can you use comparison and logical operators in the same expression?
25. What is the purpose of using parentheses in arithmetic or logical expressions?

### Check your Concepts

Try answering the following questions to test your understanding of the topics covered in this notebook:

1. What is a variable in Python?
2. How do you create a variable?
3. How do you check the value within a variable?
4. How do you create multiple variables in a single statement?
5. How do you create multiple variables with the same value?
6. How do you change the value of a variable?
7. How do you reassign a variable by modifying the previous value?
8. What are the rules for naming a variable?
9. Are variable names case-sensitive? Do `a_variable`, `A_Variable`, and `A_VARIABLE` represent the same variable or different ones?
10. How do you check the data type of a variable?
11. What are the built-in data types in Python?
12. What kind of data does the Integer data type represent?
13. What are the numerical limits of the integer data type?
14. What kind of data does the float data type represent?
15. How does Python decide if a given number is a float or an integer?
16. How can you create a variable which stores a whole number, e.g., 4 but has the float data type?
17. What are the differences between integers and floats?
18. How do you convert an integer to a float?
19. How do you convert a float to an integer?
20. What is the result obtained when you convert 1.99 to an integer?
21. What are the data types of the results of the division operators `/` and `//`?
22. What kind of data does the Boolean data type represent?
23. Which types of Python operators return booleans as a result?
24. What happens if you try to use a boolean in arithmetic operation?
25. How can any value in Python be covered to a boolean?